{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% trans "Sign In" %}
{% endblock %}

{% block style %}
<style>
    #container {        
        width: 100vw;
        display: flex;
        justify-content: center;   
        padding: 10%;             
    }

    #content {
        background: #f1f1f1;
        color: black;
        width: 600px;
        height: auto;
        padding: 5%;     
    }

    .socialaccount_provider {        
        color: white;
        text-decoration: none;             
        padding: 10px;       
        margin-top: 10px;        
        padding: 20%;                
        font-size: 28px;
    }

    .facebook {
        background-color: #3B5998;
    }

    .google {
        background-color: #dd4b39;              
    }

    .github {
        background-color: #24292e;         
    }

    .seperator {        
        text-align: center;
        border-bottom: 1px solid #bbb;
        line-height: 0.1em;        
        margin-top: 30px;
    }

    .seperator span {
        background: #f1f1f1;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="border rounded" id="content">
        <h2 class="text-center">{% trans "Sign In" %}</h2>    
        {% get_providers as socialaccount_providers %}    
        {% if socialaccount_providers %}
        <p class="text-muted">
            {% trans "Sign in using social media account to get quick access" %}
        </p>
        <div class="row">
            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                <div class="col-6 col-md-3">
                    <a title="{{brand.name}}" 
                        class="socialaccount_provider {{provider.id}} {{brand.id}} btn btn-block" 
                        href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                        <i class="fa fa-{{provider.id}}"></i> 
                        <!-- {{brand.name}}                         -->
                    </a>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-6 col-md-3">
                    <a title="{{provider.name}}" 
                        class="socialaccount_provider {{provider.id}} btn btn-block" 
                        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <i class="fa fa-{{provider.id}}"></i> 
                        <!-- {{provider.name}}                         -->
                    </a>
                </div>
            {% endfor %}
        </div>             
        <p class="seperator text-muted"><span>{% trans "OR" %}</span></p>
        {% endif %}
        <form class="login text-left" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-dark btn-block" type="submit">{% trans "Sign In" %}</button>
        </form>                  
        <p class="text-center mt-3"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
        <p class="text-center">{% trans "Not a member yet?" %} <a href="{% url 'account_signup' %}">{% trans "Sign up here" %}</a></p>
    </div>        
</div>
{% endblock %}