{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Sign out
{% endblock %}

{% block style %}
<style>
    #container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    #content {
        background: #f1f1f1;
        color: black;
        width: 600px;
        height: auto;
        padding: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="border rounded" id="content">
        <h2 class="text-center">Sign out</h2>
        <p>Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}      
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}      
            <button class="btn btn-danger btn-block" type="submit">Sign out</button>
        </form>                  
    </div>        
</div>
{% endblock %}