{% extends "account/base.html" %}

{% load account %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% trans "Sign Up Closed" %}
{% endblock %}

{% block style %}
<style>
    #container {        
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 10%;          
    }

    #content {
        background: #f1f1f1;
        color: black;
        width: 600px;
        height: auto;
        padding: 5%;     
    }    
</style>
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="border rounded" id="content">
        <h2 class="text-center">{% trans "Sign Up Closed" %}</h2>        
        <p class="text-center">{% trans "We are sorry, but the sign up is currently closed." %}</p>     
    </div>        
</div>
{% endblock %}
