{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% trans "Sign Up" %}
{% endblock %}

{% block style %}
<style>
    #container {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 10%;
    }

    #content {
        background: #f1f1f1;
        color: black;
        width: 600px;
        height: auto;
        padding: 5%;
    }

    .socialaccount_provider {                     
        text-decoration: none;             
        padding: 10px;       
        margin-top: 10px;        
        padding: 20%;                
        font-size: 28px;
    }

    .facebook {
        background-color: #3B5998;
    }

    .google {
        background-color: #dd4b39;              
    }

    .github {
        background-color: #24292e;         
    }

    .fa {
        color: white;
    }

    .socialaccount_provider:hover {
        opacity: 0.8;
    }

    .seperator {        
        text-align: center;
        border-bottom: 1px solid #bbb;
        line-height: 0.1em;        
        margin-top: 30px;
    }

    .seperator span {
        background: #f1f1f1;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="border rounded" id="content">
        <h2 class="text-center">{% trans "Sign Up" %}</h2>
        {% get_providers as socialaccount_providers %}    
        {% if socialaccount_providers %}
        <p class="text-muted">
            {% trans "Sign up using social media account to get quick access" %}
        </p>
        <div class="row">
            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                <div class="col-6 col-md-3">
                    <a title="{{brand.name}}" 
                        class="socialaccount_provider {{provider.id}} {{brand.id}} btn btn-block" 
                        href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                        <i class="fa fa-{{provider.id}}"></i>                      
                    </a>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-6 col-md-3">
                    <a title="{{provider.name}}" 
                        class="socialaccount_provider {{provider.id}} btn btn-block" 
                        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <i class="fa fa-{{provider.id}}"></i>                   
                    </a>
                </div>
            {% endfor %}
        </div>            
        <p class="seperator text-muted"><span>{% trans "OR" %}</span></p>
        {% endif %}
        <form class="signup text-left" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-dark btn-block" type="submit">{% trans "Sign Up" %}</button>
        </form>        
        <p class="text-center mt-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>        
</div>
{% endblock %}