{% extends 'base.html' %}
{% load static custom_tags movie_tags i18n %}
{% block title %}
{% trans 'Movie List' %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div id="list" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Movies' %}</li>
        </ol>
    </nav>
    <div class="m-3">
        <form method="get" action="." id="filterform" class="p-3">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="searchbyname">{% trans 'Search by name' %}</label>
                    <div class="input-group" id="searchbyname">                                        
                        <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="{% trans 'Name' %}..." {% if name is not None %} value="{{ name }}" {% endif %} />
                        <a id="searchbutton" href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="inputGenre">{% trans 'Genre' %}</label>
                    <select id="inputGenre" class="form-control" name="genrename">
                        <option {% if genrename is None %} selected {% endif %}>{% trans 'Any' %}</option>
                        {% for genre in genres %}
                        <option value="{{ genre }}" {% if genrename == genre.name %} selected {% endif %}>{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="sort">{% trans 'Sort By' %}</label>
                    <select id="sort" class="form-control" name="sortby">
                        <option {% if sortby == 'Latest' or sortby == 'Шинээр нэмэгдсэн' %} selected {% endif %} >{% trans 'Latest' %}</option>         
                        <option {% if sortby == 'Score' or sortby == 'Үнэлгээгээр' %} selected {% endif %} >{% trans 'Score' %}</option>   
                        <option {% if sortby == 'Likes' or sortby == 'Like-н тоогоор' %} selected {% endif %} >{% trans 'Likes' %}</option>                                                        
                        <option {% if sortby == 'Watched' or sortby == 'Үзсэн тоогоор' %} selected {% endif %} >{% trans 'Watched' %}</option>    
                        <option {% if sortby == 'Watchlisted' or sortby == 'Үзэхээр нэмсэн тоогоор' %} selected {% endif %} >{% trans 'Watchlisted' %}</option>                                                         
                        <option {% if sortby == 'Release date (Newest first)' or sortby == 'Нээлтийн огноо (Шинэ нь эхэндээ)' %} selected {% endif %} >{% trans 'Release date (Newest first)' %}</option>        
                        <option {% if sortby == 'Release date (Oldest first)' or sortby == 'Нээлтийн огноо (Хуучин нь эхэндээ)' %} selected {% endif %} >{% trans 'Release date (Oldest first)' %}</option>                    
                        <option {% if sortby == 'Alphabetically (A-Z)' or sortby == 'Үсгийн дарааллаар (А-Я)' %} selected {% endif %} >{% trans 'Alphabetically (A-Z)' %}</option>           
                        <option {% if sortby == 'Alphabetically (Z-A)' or sortby == 'Үсгийн дарааллаар (Я-А)' %} selected {% endif %} >{% trans 'Alphabetically (Z-A)' %}</option>                                        
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-2">
                    <label class="text-light" style="visibility: hidden;">{% trans 'Search' %}</label>
                    <button type="submit" class="btn btn-danger btn-block rounded-0">{% trans 'Search' %}</button>
                </div>
            </div>        
        </form>
    </div>
    <div class="text-center m-3">
        <label for="pagination">{% trans 'Total' %}: {{ count }} {% trans 'films' %}</label>
    </div> 
    <div class="row p-3">
        {% for movie in queryset %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" >
                <a href="{% url 'moviedetail' movie.pk %}">
                    <div class="card rounded-0 mb-0">                                     
                        {% if movie.image %}
                        <img class="card-img" src="{{ movie.image.url }}" alt="Card image">
                        {% else %}
                        <div class="card-img" style="min-height: 220px;">
                            <div class="title d-flex justify-content-center align-items-center text-center">
                                <h5 class="card-title" style="color: #000;">{{ movie }}</h5>                                
                            </div>
                        </div>
                        {% endif %}   
                        <div class="card-img-overlay">                
                            <div class="title d-flex justify-content-center align-items-center p-0 text-center">
                                <h6 class="card-title text-center">{{ movie }}</h6>
                            </div>
                            <div class="actions d-flex justify-content-start p-0 text-center">
                                {% if profile is None %}
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Favorite' %}">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Watched' %}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Watchlist' %}">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                                {% else %}
                                <a id="favorite{{ movie.id }}" href="#" class="action favorite p-2" style="width: 33%;" data-id="{{ movie.id }}"
                                    title="{% if movie|is_favorite:profile %} {% trans 'Remove from Favorite' %} {% else %} {% trans 'Add to Favorite' %} {% endif %}">
                                    <i id="icon-favorite{{ movie.id }}" class="{% if movie|is_favorite:profile %} fa fa-thumbs-up {% else %} fa fa-thumbs-o-up {% endif %}"></i>
                                </a>
                                <a id="watched{{ movie.id }}" href="#" class="action watched p-2" style="width: 33%;" data-id="{{ movie.id }}"
                                    title="{% if movie|is_watched:profile %} {% trans 'Remove from Watched' %} {% else %} {% trans 'Add to Watched' %} {% endif %}">
                                    <i id="icon-watched{{ movie.id }}" class="{% if movie|is_watched:profile %} fa fa-eye-slash {% else %} fa fa-eye {% endif %}"></i>
                                </a>
                                <a id="watchlist{{ movie.id }}" href="#" class="action watchlist p-2" style="width: 33%;" data-id="{{ movie.id }}"
                                    title="{% if movie|is_watchlisted:profile %} {% trans 'Remove from Watchlist' %} {% else %} {% trans 'Add to Watchlist' %} {% endif %}">
                                    <i id="icon-watchlist{{ movie.id }}" class="{% if movie|is_watchlisted:profile %} fa fa-minus-circle {% else %} fa fa-plus-circle {% endif %}"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>                                                                                                     
                    </div>                
                </a>                                        
            </div>
        {% endfor %}
    </div>
    <div class="text-center m-3">        
        <div id="pagination" class="d-flex justify-content-center">           
            {% include 'includes/pagination.html' %}  
        </div>
    </div>    
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });    

    $('.favorite').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/movieaddfavorite/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_liked) {               
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-up");
                    $("#favorite" + id).attr("title", "{% trans 'Remove from Favorite' %}");
                }
                else
                {                         
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-o-up");
                    $("#favorite" + id).attr("title", "{% trans 'Add to Favorite' %}");
                }
            }
        })
    });

    $('.watched').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/movieaddwatched/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_watched) {               
                    $("#icon-watched" + id).attr("class", "fa fa-eye-slash");
                    $("#watched" + id).attr("title", "{% trans 'Remove from Watched' %}");
                }
                else
                {                         
                    $("#icon-watched" + id).attr("class", "fa fa-eye");
                    $("#watched" + id).attr("title", "{% trans 'Add to Watched' %}");
                }
            }
        })
    });

    $('.watchlist').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/movieaddwatchlist/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_added) {               
                    $("#icon-watchlist" + id).attr("class", "fa fa-minus-circle");
                    $("#watchlist" + id).attr("title", "{% trans 'Remove from Watchlist' %}");
                }
                else
                {                         
                    $("#icon-watchlist" + id).attr("class", "fa fa-plus-circle");
                    $("#watchlist" + id).attr("title", "{% trans 'Add to Watchlist' %}");
                }
            }
        })
    });
</script>
{% endblock %}