#action_section .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;    
    text-decoration: none;    
}

#action_section a,
#action_section div {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#action_section a:hover,
#action_section div:hover {
    background: #dedede;   
}

/* .modal-rating {
    padding: 10px;
} */

.modal-rating input {
    display: none;       
}

.modal-rating label {
    font-size: 24px;
    float: right;
    margin-right: 10px;
    cursor: pointer;     
    color: #ddd;
}

.modal-rating .checked {
    color: #FFD700;
}

.modal-rating input:checked ~ label {
    color: #FFD700;
}

.modal-rating input:checked + label:hover,
.modal-rating input:checked ~ label:hover,
.modal-rating label:hover ~ input:checked ~ label,
.modal-rating input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.modal-rating:not(:checked) label:hover,
.modal-rating:not(:checked) label:hover ~ label {
    color: #FFD700;
}

#comment_section .top span {
    font-size: 16px;
}

#comment_section .card .card-img {
    width: 100px;
    border-radius: 50%;
}

#comment_section #allcomments .commentactions div {
    cursor: pointer;
    padding: 3px;
    width: 75px;
}

#comment_section #allcomments .commentactions i {
    font-size: 18px;
}

#comment_section #allcomments .commentactions div:hover {
    background: #dedede;
}

@media screen and (max-width:576px) {
    #action_section a {
        height: 50px;
    }

    #action_section a p {
        visibility: hidden;
    }

    #action_section .fa {
        font-size: 26px;
        padding: 12px;    
        width: 50px;
        height: 50px;    
    }

    #comment_section .top span {
        font-size: 12px;
    }

    #comment_section .card .card-img {
        display: none;
    }    

    #allcomments .comment_username {
        font-size: 12px;
    }

    #allcomments .comment_datetime,
    #allcomments .comment_text {
        font-size: 11px;
    }

    #comment_section #allcomments .commentactions div {
        width: 40px;
        font-size: 12px;
    } 
    
    #comment_section #allcomments .commentactions i {
        font-size: 12px;
    } 

    #comment_section #commentbuttons .btn {
        font-size: 12px;
    }
}