.movielist .column {
    padding: 5px;
}

.movielist .card {    
    border: 5px solid #dedede;    
    width: 100%;
    height: 300px;    
    transition: all .5s;    
}

.movielist .card:hover {
    border: 5px solid #000;    
}

.movielist .card-img {     
    height: 70%;
    overflow: hidden;    
}

.movielist .card-img .card-img-top {
    width: 100%;
    height: 100%;    
    display: block;    
}

.movielist .card-img .card-img-overlay {         
    background: #000;    
    color: #fff;       
    height: 70%; 
    opacity: .8;
    text-decoration: none;
    font-size: 12px;
    visibility: hidden;
}

.movielist .card-img:hover .card-img-overlay {         
    visibility: visible;
}

.movielist .card-body {
    padding: 5px;
    color: #000;
    text-decoration: none;
    overflow: hidden;     
}

.movielist .card-title {    
    font-size: 11px;
    font-weight: bold;        
    margin-top: 0; 
    padding: 0;    
}

.movielist .action {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.movielist .fa {
    font-size: 22px;
}

.movielist .action:hover {
    background: #dedede;
}

@media screen and (max-width:992px) {
    .movielist .card {
        height: 400px;
    }

    .movielist .card-img {     
        height: 70%;
    }
    
    .movielist .card-title {
        font-size: 12px;             
    }
}

@media screen and (max-width:768px) {
    .movielist .column {
        padding: 10px;
    }

    .movielist .card {
        height: 400px;
    }

    .movielist .card-img {     
        height: 70%;
    }   

    .movielist .card-img .card-img-overlay {         
        font-size: 15px;
    }

    .movielist .card-body {
        padding: 10px; 
    }

    .movielist .card-title {
        font-size: 14px;                    
    }

    .movielist .fa {
        font-size: 24px;
    }
}

@media screen and (max-width:576px) {
    .movielist .card {
        height: 500px;
    }

    .movielist .card-img {     
        height: 75%;
    }

    .movielist .card-img .card-img-overlay {         
        font-size: 24px;
    }

    .movielist .card-title {
        font-size: 16px;        
    }
}
