{% extends 'base.html' %}
{% load static custom_tags %}
{% block title %}
Artists
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/artistlist.css' %}">
{% endblock %}

{% block content %}
<div id="artistlist" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Artist List</li>
        </ol>
    </nav>
    <form action="." class="p-3" id="filterform">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="searchbyname">Search by name</label>
                <div class="input-group" id="searchbyname">                                        
                    <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="Name..." {% if name is not None %} value="{{ name }}" {% endif %} />
                    <a href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>    
        <div class="form-row">            
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputOccupation">Occupation</label>
                <select id="inputOccupation" class="form-control" name="occupationname" id="occupation">
                    <option {% if occupationname is None %} selected {% endif %}>Choose...</option>
                    {% for occupation in occupations %}
                    <option value="{{ occupation }}" {% if occupationname == occupation.name %} selected {% endif %}>{{ occupation }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputAgeMin">Age /Min/</label>
                <input type="number" min="0" max="99" class="form-control" name="inputAgeMin" id="inputAgeMin" {% if inputAgeMin is None %} value="0" {% else %} value="{{ inputAgeMin }}" {% endif %}>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputAgeMax">Age /Max/</label>
                <input type="number" min="0" max="99" class="form-control" name="inputAgeMax" id="inputAgeMax" {% if inputAgeMax is None %} value="99" {% else %} value="{{ inputAgeMax }}" {% endif %}>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="sort">Sort by</label>
                <select id="sort" class="form-control" name="sortby">
                    <option {% if sortby == "Latest first" %} selected {% endif %} >Latest first</option>   
                    <option {% if sortby == "Latest last" %} selected {% endif %} >Latest last</option>
                    <option {% if sortby == "Likes (DESC)" %} selected {% endif %} >Likes (DESC)</option>                    
                    <option {% if sortby == "Likes (ASC)" %} selected {% endif %} >Likes (ASC)</option>
                    <option {% if sortby == "Followers (DESC)" %} selected {% endif %} >Followers (DESC)</option>                    
                    <option {% if sortby == "Followers (ASC)" %} selected {% endif %} >Followers (ASC)</option>
                    <option {% if sortby == "Alphabetically (A-Z)" %} selected {% endif %} >Alphabetically (A-Z)</option>           
                    <option {% if sortby == "Alphabetically (Z-A)" %} selected {% endif %} >Alphabetically (Z-A)</option>                                                                  
                </select>
            </div>
        </div>   
        <div class="form-row">
            <div class="form-group col-12">
                <button class="btn btn-dark" type="submit">Search</button>          
            </div>            
        </div>           
        <div class="form-row">                     
            <div class="form-group col-12 text-center">                                   
                <label for="pagination">Total: {{ count }} artists</label>
                <div id="pagination" class="d-flex justify-content-center">           
                    {% include 'includes/paginationArtists.html' %}  
                </div>
            </div>            
        </div>            
    </form>    
    <div class="list p-3">
        <div class="row p-3">
        {% for artist in queryset %}    
                <div class="column col-12 col-sm-6 col-md-3 col-lg-2 mb-3">  
                    <div class="card">
                        <a class="card-img" href="{% url 'artistdetail' artist.pk %}">
                            <img class="card-img-top" src="{% if artist.image.url is not None %} {{ artist.image.url }} {% endif %}" alt="Card image cap">
                        </a>
                        <a class="card-body text-center" href="{% url 'artistdetail' artist.pk %}" data-toggle="tooltip" data-placement="top" title="{{ artist.name }}">
                            <p class="card-title">{{ artist.name }}</p>                            
                            <!-- {% for occ in artist.occupation.all %}
                            <p>{{ occ.name }}</p>
                            {% endfor %} -->
                        </a>                                                
                        <div class="d-flex justify-content-start p-0 text-center">
                            {% if profile is None %}
                            <a href="{% url 'account_login' %}" class="action border-top border-right p-2" style="width: 50%;" data-toggle="tooltip" data-placement="top" title="Like">
                                <i class="fa fa-thumbs-o-up"></i>
                            </a>
                            <a href="{% url 'account_login' %}" class="action border-top border-right p-2" style="width: 50%;" data-toggle="tooltip" data-placement="top" title="Follow">
                                <i class="fa fa-user-plus"></i>
                            </a>
                            {% else %}
                            <div id="like-{{ artist.id }}" class="action like border-top border-right p-2" style="width: 50%;" data-id="{{ artist.id }}" data-toggle="tooltip" data-placement="top" title="{% if artist|is_artistliked:profile %}Remove from favorite list{% else %}Add to favorite list{% endif %}">
                                <i id="icon-like-{{ artist.id }}" class="{% if artist|is_artistliked:profile %}fa fa-thumbs-up{% else %}fa fa-thumbs-o-up{% endif %}"></i>
                            </div>
                            <div id="follow-{{ artist.id }}" class="action follow border-top border-right p-2" style="width: 50%;" data-id="{{ artist.id }}" data-toggle="tooltip" data-placement="top" title="{% if artist|is_artistfollowed:profile %}Unfollow the artist{% else %}Follow the artist{% endif %}">
                                <i id="icon-follow-{{ artist.id }}" class="{% if artist|is_artistfollowed:profile %}fa fa-user-times{% else %}fa fa-user-plus{% endif %}"></i>
                            </div>
                            {% endif %}
                        </div> 
                    </div>              
                </div>                  
        {% endfor %}       
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });

    $('.like').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/likeartist/",
            data: {
                artist_id: id
            },
            success: function(data)
            {
                if (data.is_liked) {
                    $("#like-" + id).attr('title', 'Remove from favorite list');                    
                    $("#icon-like-" + id).attr("class", "fa fa-thumbs-up");
                }
                else
                {
                    $("#like-" + id).attr('title', 'Add to favorite list');                          
                    $("#icon-like-" + id).attr("class", "fa fa-thumbs-o-up");
                }
            }
        })
    });

    $('.follow').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/followartist/",
            data: {
                artist_id: id
            },
            success: function(data)
            {
                if (data.is_followed) {
                    $("#follow-" + id).attr('title', 'Unfollow the artist');                    
                    $("#icon-follow-" + id).attr("class", "fa fa-user-times");
                }
                else
                {
                    $("#follow-" + id).attr('title', 'Follow the artist');                          
                    $("#icon-follow-" + id).attr("class", "fa fa-user-plus");
                }
            }
        })
    });
</script>
{% endblock %}