{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block style %}
<style>
    form a {
        cursor: pointer;
        text-decoration: none;
    }

    form a:hover {
        background: #c3cac2;          
        text-decoration: none;  
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>        
            <li class="breadcrumb-item active" aria-current="page">Edit artist</li>
        </ol>
    </nav> 
    <form action="." class="p-3" id="filterform">
        <div class="form-group">
            <label for="searchartist">Search artist</label>
            <div class="form-group" id="searchartist">                
                <div class="input-group">                                        
                    <input class="form-control py-2 border-right-0 border" type="search" id="artistsearch" name="artistsearch" placeholder="Artist name..."/>
                    <a id="artistsearchbutton" href="#" class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>                                          
        <div id="artistresult" class="form-group">
        </div>
    </form>    
    <div class="border rounded m-3 p-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Artist ID" readonly>
                    <br>
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <br>
                    <label for="bio">Biography</label>
                    <textarea class="form-control" rows="5" id="bio" name="bio"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label for="custom-file-image">Image</label>
                    <div class="border d-flex justify-content-center" style="width: 100%; height: 275px;">
                        <img id="imagefield" src="" style="height: auto; width: 100%;">
                    </div>  
                    <div class="custom-file mt-2" id="custom-file-image">
                        <input type="file" class="custom-file-input" name="image" id="image">
                        <label class="custom-file-label" for="image">Choose file</label>
                    </div>
                </div>  
            </div>                                
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="birthplace">Birth place</label>
                    <input type="text" class="form-control" name="birthplace" id="birthplace">
                </div>
                <div class="form-group col-md-4">
                    <label for="birthdate">Birth date</label>
                    <input type="date" class="form-control" name="birthdate" id="birthdate">
                </div>
                <div class="form-group col-md-4">
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="nationality">
                </div>
            </div>
            <label>Occupation</label>
            <div class="form-row">                
                {% for occ in occupations %}
                <div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="occupationCheck{{ occ.id }}" name="occupation" value="{{ occ.id }}">
                        <label class="custom-control-label" for="occupationCheck{{ occ.id }}">{{ occ.name }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>                     
            <div class="form-row">
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" id="deleteBtn" class="btn btn-danger btn-block">Delete</button>
                </div>
            </div>   
        </form>
    </div> 
</div>     
{% endblock %}

{% block javascript %}
<script>
    $("#artistsearchbutton").click(function (e) {
        e.preventDefault();
        var searchtext = $("#artistsearch").val();
        $.ajax({
            type: "GET",
            url: "/searchartist/",
            data: {
                searchtext: searchtext
            },
            success: function(data)
            {
                $("#artistresult").empty();
                for (a in data.artists) {                    
                    $("#artistresult").append(
                        "<div class='custom-control custom-radio custom-control-inline'>" +
                            "<input type='radio' class='custom-control-input radioArtist' name='artistselector' id='artistRadio" + data.artists[a].id + "' data-id='" + data.artists[a].id + "' data-name='" + data.artists[a].name + "' onchange='selectArtist(this)'>" +
                            "<label class='custom-control-label' for='artistRadio" + data.artists[a].id + "'>" + data.artists[a].name + "</label>" +
                        "</div>"
                    )
                }
            }
        })
    });

    function selectArtist(radio) {        
        var id = radio.getAttribute("data-id");            
        var name = radio.getAttribute("data-name");        
        $.ajax({
            type: "GET",
            url: "/getartistbyid/",
            data: {
                id: id
            },
            success: function(data)
            {   
                $("#id").val(data.id);                   
                $("#name").val(data.name);
                $("#bio").val(data.bio);
                $("#birthplace").val(data.birthplace);
                $("#nationality").val(data.nationality);
                $("#birthdate").val(data.birthdate);                                
                $(".occupationCheck").prop("checked", false);
                var occupations = JSON.parse(data.occupations);                                
                for (var i = 0; i < occupations.length; i++) {                    
                    $("#occupationCheck" + occupations[i]['pk']).prop("checked", true);
                }
                $("#imagefield").attr("src", data.image);                
            }
        })
    }

    $("#image").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#imagefield").attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });    

    $("#deleteBtn").click(function () {
        var id = $("#id").val();
        if (id == "")
        {
            alert("Please select artist first.");
        }
        else {
            var result = confirm("Are you sure to delete this artist from database?");        
            if (result) {
                $.ajax({
                    type: "GET",
                    url: "/artistdelete/",
                    data: {
                        id: id
                    },
                    success: function(data)
                    {
                        console.log("Deleted");
                        location.reload();
                    }
                })
            }
            else {
                console.log("No");
            }
        }        
    });
</script>
{% endblock %}