{% extends 'base.html' %}
{% load static custom_tags humanize i18n %}
{% block title %}
{{ series }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/moviedetail.css' %}">
{% endblock %}

{% block content %}
<div id="movielist" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'serieslist' %}">{% trans 'Series' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ series }}</li>
        </ol>
    </nav>
    <div class="m-3 p-3 border rounded">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light" style="width: 100%; height: 200px;">
                    
                </div>
                <table class="table table-striped" style="font-size: 14px;">
                    <tr>
                        <th>{% trans 'Production' %}</th>
                        <td>
                            {% for production in series.production.all %}
                            <p class="m-0">
                                <a href="#">
                                    {{ production.name }}
                                </a>
                            </p>
                            {% endfor %}
                        </td>
                    </tr>          
                    <tr>
                        <th>{% trans 'Director' %}</th>
                        <td>
                            {% for director in series.director.all %}
                            <p class="m-0">
                                <a href="{% url 'artistdetail' director.pk %}">
                                    {{ director.name }}
                                </a>
                            </p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Writer' %}</th>
                        <td>
                            {% for writer in series.writer.all %}
                            <p class="m-0">
                                <a href="{% url 'artistdetail' writer.pk %}">
                                    {{ writer.name }}
                                </a>
                            </p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Cast' %}</th>
                        <td>
                            {% for actor in series.cast.all %}
                            <p class="m-0">
                                <a href="{% url 'artistdetail' actor.pk %}">
                                    {{ actor.name }} 
                                </a>  
                            </p>                                                                      
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Genres' %}</th>
                        <td>
                            {% for genre in series.genre.all %}
                            <p class="m-0">
                                {{ genre.name }}
                            </p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Release Date' %}</th>
                        <td>{{ series.release_date }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Running Time' %}</th>
                        <td>{{ series.runningtime }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Rating' %}</th>
                        <td>{{ series.mpa_rating }}</td>
                    </tr> 
                    <tr>
                        <th>IMDB</th>
                        <td>{{ series.imdb_rating }}</td>
                    </tr> 
                    <tr>
                        <th>Metascore</th>
                        <td>{{ series.metascore }}</td>
                    </tr>
                    <tr>
                        <th>Tomatometer</th>
                        <td>{{ series.tomatometer }}</td>
                    </tr> 
                    <tr>
                        <th>{% trans 'Score' %}</th>
                        <td>
                            <span class="avgrating">
                                {{ series.score|floatformat:1|intcomma }}
                            </span>                            
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Likes' %}</th>
                        <td>
                            <span class="count-like">
                                {{ series.likes }}
                            </span>                            
                        </td>
                    </tr> 
                    <tr>
                        <th>{% trans 'Watched' %}</th>
                        <td>
                            <span class="count-watched">{{ series.watched }}</span>                            
                        </td>
                    </tr> 
                    <tr>
                        <th>{% trans 'Watchlisted' %}</th>
                        <td>
                            <span class="count-watchlist">{{ series.watchlisted }}</span>
                        </td>
                    </tr> 
                </table>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-between">
                    <div id="title">
                        <h4>{{ series.name }}</h4>
                    </div>
                    <div id="update">
                        <a href="{% url 'seriesupdate' series.pk %}">Edit</a>
                    </div>                
                </div>
                <div id="description">
                    <p>{{ series.description }}</p>
                </div>    
                <div id="plot">
                    <h5>Plot</h5>
                    <p>{{ series.plot }}</p>
                </div>   
                <div id="cast">
                    <h5>Cast</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="m-0">
                                <a href="#">Kayne Doyle</a>
                            </p>
                            <p class="m-0">
                                <a href="#">Charlie Gates</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Uwais Stacey</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Martine Frank</a>                                   
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="m-0">
                                <a href="#">Kayne Doyle</a>
                            </p>
                            <p class="m-0">
                                <a href="#">Charlie Gates</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Uwais Stacey</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Martine Frank</a>                                   
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="m-0">
                                <a href="#">Kayne Doyle</a>
                            </p>
                            <p class="m-0">
                                <a href="#">Charlie Gates</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Uwais Stacey</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Martine Frank</a>                                   
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="m-0">
                                <a href="#">Kayne Doyle</a>
                            </p>
                            <p class="m-0">
                                <a href="#">Charlie Gates</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Uwais Stacey</a>                                
                            </p>
                            <p class="m-0">
                                <a href="#">Martine Frank</a>                                   
                            </p>
                        </div>
                    </div>
                </div>    
                <div id="trailer" class="mt-3">
                    <h5>Trailer</h5>
                    <iframe width="100%" height="300" src="{{ series.trailer }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                                          
                </div>     
            </div>
        </div> 
        <div id="action_section" class="d-flex flex-row justify-content-around text-center">
            <a href="{% url 'account_login' %}" id="like" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to favorite list">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="count-like">{{ movie.likes }}</span>
                <p class="m-0" style="font-size: 14px;">Add to favorite list</p>
            </a>
            <a href="{% url 'account_login' %}" id="watched" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to watched list">
                <i class="fa fa-check-circle-o"></i>
                <span class="count-watched">{{ movie.watched }}</span>
                <p class="m-0" style="font-size: 14px;">Add to watched list</p>
            </a>
            <a href="{% url 'account_login' %}" id="watchlist" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to watchlist">
                <i class="fa fa-plus-square-o"></i>
                <span class="count-watchlist">{{ movie.watchlisted }}</span>
                <p class="m-0" style="font-size: 14px;">Add to watchlist</p>
            </a>
            <a href="{% url 'account_login' %}" id="rating" class="w-100" data-toggle="tooltip" data-placement="top" title="Give a rating">
                <i class="fa fa-star-o"></i>
                <span>{{ movie.rating }}</span>
                <p class="m-0" style="font-size: 14px;">Give rating</p>
            </a>
            <a href="{% url 'account_login' %}" id="comment" class="w-100" data-toggle="tooltip" data-placement="top" title="Write a comment">
                <i class="fa fa-comment-o"></i>
                <span id="count-comment">{{ comments.count }}</span>
                <p class="m-0" style="font-size: 14px;">Write comment</p>
            </a>
        </div>               
    </div>    
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });    
</script>
{% endblock %}