{% extends 'base.html' %}
{% load static custom_tags series_tags humanize i18n %}
{% block title %}
{{ series }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<div id="detail" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'serieslist' %}">{% trans 'Series' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ series }}</li>
        </ol>
    </nav>
    <div class="m-3 p-3 border" style="background: #030b0f; color: white;">
        <div class="row">
            <div class="col-md-3">
                <div class="card rounded-0">
                    {% if series.image %}
                    <img class="card-img rounded-0" src="{{ series.image.url }}" alt="Card image" style="width: 100%; height: auto;">
                    {% else %}
                    <div class="card-body bg-light" style="height: 300px;"></div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" style="color: white; font-size: small;">
                        <tr>
                            <th>{% trans 'Production' %}</th>
                            <td>
                                {% for production in series.production.all %}
                                <a href="#">{{ production.name }}</a><br>
                                {% endfor %}
                            </td>
                        </tr>          
                        <tr>
                            <th>{% trans 'Director' %}</th>
                            <td>
                                {% for director in series.director.all %}
                                <a href="{% url 'artistdetail' director.pk %}">{{ director.name }}</a><br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Writer' %}</th>
                            <td>
                                {% for writer in series.writer.all %}
                                <a href="{% url 'artistdetail' writer.pk %}">{{ writer.name }}</a><br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Cast' %}</th>
                            <td>
                                {% for actor in series.maincast.all %}
                                <a href="{% url 'artistdetail' actor.pk %}">{{ actor.name }}</a><br>                                                         
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Genres' %}</th>
                            <td>
                                {% for genre in series.genre.all %}
                                {{ genre.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Release Date' %}</th>
                            <td>{{ series.release_date|date:"Y" }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Running Time' %}</th>
                            <td>{{ series.runningtime }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Rating' %}</th>
                            <td>{{ series.mpa_rating }}</td>
                        </tr> 
                        <tr>
                            <th>IMDB</th>
                            <td>{{ movie.imdb_rating }}</td>
                        </tr> 
                        <tr>
                            <th>Metascore</th>
                            <td>{{ movie.metascore }}</td>
                        </tr>
                        <tr>
                            <th>Tomatometer</th>
                            <td>{{ movie.tomatometer }}</td>
                        </tr>  
                        <tr>
                            <th>{% trans 'Score' %}</th>
                            <td><span class="avg-score">{{ series.score|floatformat:1|intcomma }}</span></td>
                        </tr>
                        <tr>
                            <th>{% trans 'Likes' %}</th>
                            <td><span class="count-favorite">{{ series.likes }}</span></td>
                        </tr> 
                        <tr>
                            <th>{% trans 'Watched' %}</th>
                            <td><span class="count-watched">{{ series.watched }}</span></td>
                        </tr> 
                        <tr>
                            <th>{% trans 'Watchlisted' %}</th>
                            <td><span class="count-watchlist">{{ series.watchlisted }}</span></td>
                        </tr> 
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <div id="title">
                        <h4>{{ series.name }}</h4>
                    </div>
                    {% if user.is_authenticated and user|isAdmin %}
                    <div id="update">                        
                        <a href="{% url 'seriesupdate' series.pk %}"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                    </div>                
                    {% endif %}
                </div>
                
                <div id="description">
                    <p>
                        {% if series.description is none %}
                        Cras mattis sapien lorem, eu suscipit est ullamcorper eget. Sed in efficitur mauris, eu varius diam. Integer et orci mattis, ornare augue a, egestas leo. Suspendisse id tincidunt nulla. In hac habitasse platea dictumst. Suspendisse bibendum nisl diam, eu scelerisque sem consectetur sed. Donec quis mi pretium, cursus quam vitae.
                        {% else %}
                        {{ series.description }}
                        {% endif %}
                    </p>
                </div>    
                <div id="plot">
                    <h5>{% trans 'Plot' %}</h5>
                    <p>
                        {% if series.plot is none %}
                        Cras mattis sapien lorem, eu suscipit est ullamcorper eget. Sed in efficitur mauris, eu varius diam. Integer et orci mattis, ornare augue a, egestas leo. Suspendisse id tincidunt nulla. In hac habitasse platea dictumst. Suspendisse bibendum nisl diam, eu scelerisque sem consectetur sed. Donec quis mi pretium, cursus quam vitae.
                        {% else %}
                        {{ series.plot }}
                        {% endif %}
                    </p>
                </div>   
                <div id="trailer">
                    <h5>{% trans 'Trailer' %}</h5>
                    {% if series.trailer %}
                    <video muted loop class="video" id="mv" paused="false">
                        <source src="{{ series.trailer.url }}" type="video/mp4">                         
                        Your browser does not support HTML5 video.
                    </video>          
                    <div class="controls">        
                        <span class="circle-control" onclick="playpause('mv', 'mvicon')"><i id="mvicon" class="fa fa-pause"></i></span>
                        <span class="circle-control" onclick="mute('mv', 'mvsoundicon')"><i id="mvsoundicon" class="fa fa-volume-off"></i></span>
                    </div>            
                    {% else %}
                    <div class="d-flex justify-content-center align-items-center border" style="height: 250px;">
                        <h4 style="color: white;">{% trans 'Trailer' %}</h4>
                    </div>
                    {% endif %} 
                </div>
                <div id="cast" class="mt-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5>{% trans 'Cast' %}</h5>
                        </div>                   
                        {% if user.is_authenticated and user|isAdmin %}
                        <div id="editcast">                        
                            <a href="{% url 'seriescastedit' series.pk %}"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                        </div>                
                        {% endif %}     
                    </div>                  
                    <div class="row">
                        <div class="col-md-3">
                            <h6>{% trans 'Main Role' %}</h6>                 
                            <ul>
                                {% for actor in series.maincast.all %}
                                <li><a href="{% url 'artistdetail' actor.pk %}">{{ actor.name }}</a></li>
                                {% endfor %}  
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <h6>{% trans 'Supporting Role' %}</h6>                 
                            <ul>
                                {% for actor in series.supportingcast.all %}
                                <li><a href="{% url 'artistdetail' actor.pk %}">{{ actor.name }}</a></li>
                                {% endfor %}  
                            </ul>
                        </div>
                    </div>                                             
                </div>                          
            </div>
        </div>                        
    </div>  
    <div id="action_section" class="m-3 d-flex flex-row justify-content-around text-center">
        {% if profile is None %}
        <a href="{% url 'account_login' %}" class="w-100" title="{% trans 'Add to Favorite' %}">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="count-favorite">{{ series.likes }}</span>
            <p class="text-favorite m-0" style="font-size: 14px;">{% trans 'Add to Favorite' %}</p>            
        </a>
        <a href="{% url 'account_login' %}" class="w-100" title="{% trans 'Add to Watched' %}">
            <i class="fa fa-eye"></i>
            <span class="count-watched">{{ series.watched }}</span>
            <p class="text-watched m-0" style="font-size: 14px;">{% trans 'Add to Watched' %}</p>
        </a>
        <a href="{% url 'account_login' %}" class="w-100" title="{% trans 'Add to Watchlist' %}">
            <i class="fa fa-plus-circle"></i>
            <span class="count-watchlist">{{ series.watchlisted }}</span>
            <p class="text-watchlist m-0" style="font-size: 14px;">{% trans 'Add to Watchlist' %}</p>
        </a>
        <a href="{% url 'account_login' %}" class="w-100" title="{% trans 'Give Rating' %}">
            <i class="fa fa-star-o"></i>
            <span>{{ series.score }}</span>
            <p class="m-0" style="font-size: 14px;">{% trans 'Give Rating' %}</p>
        </a>
        <a href="{% url 'account_login' %}" class="w-100" title="{% trans 'Write Comment' %}">
            <i class="fa fa-comment-o"></i>
            <span id="count-comment">0</span>
            <p class="m-0" style="font-size: 14px;">{% trans 'Write Comment' %}</p>
        </a>
        {% else %}
        <div id="favorite" class="w-100" data-id="{{ series.id }}" title="{% if series|is_favorite:profile %} {% trans 'Remove from Favorite' %} {% else %} {% trans 'Add to Favorite' %} {% endif %}">
            <i id="icon-favorite" class="{% if series|is_favorite:profile %} fa fa-thumbs-up {% else %} fa fa-thumbs-o-up {% endif %}"></i>
            <span class="count-favorite">{{ series.likes }}</span>
            <p class="text-favorite m-0" style="font-size: 14px;">{% if series|is_favorite:profile %} {% trans 'Remove from Favorite' %} {% else %} {% trans 'Add to Favorite' %} {% endif %}</p>            
        </div>
        <div id="watched" class="w-100" data-id="{{ series.id }}" title="{% if series|is_watched:profile %} {% trans 'Remove from Watched' %} {% else %} {% trans 'Add to Watched' %} {% endif %}">
            <i id="icon-watched" class="{% if series|is_watched:profile %} fa fa-eye-slash {% else %} fa fa-eye {% endif %}"></i>
            <span class="count-watched">{{ series.watched }}</span>
            <p class="text-watched m-0" style="font-size: 14px;">{% if series|is_watched:profile %} {% trans 'Remove from Watched' %} {% else %} {% trans 'Add to Watched' %} {% endif %}</p>
        </div>
        <div id="watchlist" class="w-100" data-id="{{ series.id }}" title="{% if series|is_watchlisted:profile %} {% trans 'Remove from Watchlist' %} {% else %} {% trans 'Add to Watchlist' %} {% endif %}">
            <i id="icon-watchlist" class="{% if series|is_watchlisted:profile %} fa fa-minus-circle {% else %} fa fa-plus-circle {% endif %}"></i>
            <span class="count-watchlist">{{ series.watchlisted }}</span>
            <p class="text-watchlist m-0" style="font-size: 14px;">{% if series|is_watchlisted:profile %} {% trans 'Remove from Watchlist' %} {% else %} {% trans 'Add to Watchlist' %} {% endif %}</p>
        </div>
        <div id="rating" class="w-100" data-toggle="modal" data-target="#modalRating" title="{% if user_rating == 0 %}{% trans 'Give Rating' %}{% else %}{% trans 'Edit Rating' %}{% endif %}">
            <i id="icon-rating" class="{% if user_rating == 0 %}fa fa-star-o{% else %}fa fa-star{% endif%}"></i>
            <span class="user-rating">{{ user_rating }}</span>
            <p class="text-rating m-0" style="font-size: 14px;">{% if user_rating == 0 %}{% trans 'Give Rating' %}{% else %}{% trans 'Edit Rating' %}{% endif %}</p>
        </div>
        <div id="comment" class="w-100" title="{% trans 'Write Comment' %}">
            <i class="fa fa-comment-o"></i>
            <span class="count-comment">0</span>
            <p class="m-0" style="font-size: 14px;">{% trans 'Write Comment' %}</p>
        </div>
        {% endif %}             
    </div>
    <div class="modal fade" id="modalRating">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Give rating on this series' %}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-rating d-flex justify-content-center align-items-center flex-row-reverse">
                        <input class="form-check-input" type="radio" id="star10" name="rating" value="10" data-id="{{ series.id }}" />
                        <label class="form-check-label fa fa-star" for="star10" title="10"></label>      
                        <input class="form-check-input" type="radio" id="star9" name="rating" value="9" data-id="{{ series.id }}" />
                        <label class="form-check-label fa fa-star" for="star9" title="9"></label>                                              
                        <input class="form-check-input" type="radio" id="star8" name="rating" value="8" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star8" title="8"></label> 
                        <input class="form-check-input" type="radio" id="star7" name="rating" value="7" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star7" title="7"></label> 
                        <input class="form-check-input" type="radio" id="star6" name="rating" value="6" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star6" title="6"></label>
                        <input class="form-check-input" type="radio" id="star5" name="rating" value="5" data-id="{{ series.id }}" />
                        <label class="form-check-label fa fa-star" for="star5" title="5"></label>      
                        <input class="form-check-input" type="radio" id="star4" name="rating" value="4" data-id="{{ series.id }}" />
                        <label class="form-check-label fa fa-star" for="star4" title="4"></label>                                              
                        <input class="form-check-input" type="radio" id="star3" name="rating" value="3" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star3" title="3"></label> 
                        <input class="form-check-input" type="radio" id="star2" name="rating" value="2" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star2" title="2"></label> 
                        <input class="form-check-input" type="radio" id="star1" name="rating" value="1" data-id="{{ series.id }}"/>
                        <label class="form-check-label fa fa-star" for="star1" title="1"></label>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>          
    <div id="episodes_section" class="m-3">
        <div id="seasons">
            {% get_seasons series as seasons %}
            <ul class="nav nav-tabs" role="tablist">
                {% for season in seasons %}
                <li class="nav-item">
                    <a href="#season{{ season.id }}" class="nav-link {% if forloop.first %} active {% endif %}" data-toggle="tab">{% trans 'Season' %} {{ season.number }}</a>
                </li>
                {% endfor %}
                {% if user.is_authenticated and user|isAdmin %}
                <li class="nav-item">
                    <a href="{% url 'seasoncreate' series.pk %}" class="nav-link"><i class="fa fa-plus"></i> {% trans 'Add new season' %}</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">                                        
                {% for season in seasons %}
                <div id="season{{ season.id }}" class="container p-3 tab-pane {% if forloop.first %} active {% else %} fade {% endif %}">
                    <div class="d-flex justify-content-between w-100">
                        <div id="season_info">
                            <h2>{% trans 'Season' %} {{ season.number }}</h2>
                            <p>{% trans 'Release' %}: {{ season.release_date|date:"Y" }}</p>                            
                        </div>
                        {% if user.is_authenticated and user|isAdmin %}
                        <div>
                            <a href="{% url 'seasonupdate' season.pk %}" class="btn btn-danger rounded-0"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                            <a href="{% url 'episodecreate' season.pk %}" class="btn btn-primary rounded-0"><i class="fa fa-plus"></i> {% trans 'Add new episode' %}</a>
                        </div>
                        {% endif %}
                    </div>                        
                    {% get_episodes season as episodes %}                                   
                    <div class="row">
                        {% for episode in episodes %}
                        <div class="col-md-4">
                            <div class="episode border rounded mt-3" style="height: 200px;">                                                                                                
                                <div class="p-3" style="width: 100%; height: 100%;">
                                    <div class="episode-top d-flex justify-content-between">
                                        <div class="episode-title">
                                            <h4>{% trans 'Episode' %} {{ episode.number }}</h4>                                                                    
                                        </div>
                                        {% if user.is_authenticated and user|isAdmin %}                                                      
                                        <div class="episode-edit">
                                            <a class="btn btn-outline-danger rounded-0" href="{% url 'episodeupdate' episode.pk %}"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>                                                                                                    
                                        </div>                                                                                 
                                        {% endif %}
                                    </div>         
                                    <div class="episode-info">
                                        <p style="font-size: small;">{% trans 'Duration' %}: {{ episode.runningtime }} min</p>
                                        <p style="font-size: small;">{% trans 'Release' %}: {{ episode.release_date|date:"Y-m-d" }}</p>
                                    </div>                                                               
                                </div>                                
                            </div>                            
                        </div>                        
                        {% endfor %}                      
                    </div>                    
                </div>
                {% endfor %}
            </div>
        </div>            
    </div>    
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    var mv = document.getElementById("mv");

    var playPromise = mv.play();
    if (playPromise !== undefined) {
        playPromise.then(_ => {
        // Automatic playback started!
        // Show playing UI.
        // We can now safely pause video...
        video.pause();
        })
        .catch(error => {
        // Auto-play was prevented
        // Show paused UI.
        });
    }

    function playpause(video_id, icon_id) {
        var video = document.getElementById(video_id);
        var icon = document.getElementById(icon_id);
        if (video.paused) {
            video.play();
            $(video).attr("paused", "false");
            $(icon).attr("class", "fa fa-pause");
        }   
        else {
            video.pause();
            $(video).attr("paused", "true");
            $(icon).attr("class", "fa fa-play");
        }     
    }

    function mute(video_id, icon_id) {
        var video = document.getElementById(video_id);
        var icon = document.getElementById(icon_id);
        if (video.muted) {
            video.muted = false;
            $(icon).attr("class", "fa fa-volume-up");
        }
        else {
            video.muted = true;
            $(icon).attr("class", "fa fa-volume-off");
        }        
    }
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });    

    $('#favorite').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddfavorite/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                var text = $('.count-favorite').first().text();
                var count = parseInt(text);
                if (data.is_liked) {               
                    $("#icon-favorite").attr("class", "fa fa-thumbs-up");
                    $("span.count-favorite").text((count + 1).toString());
                    $("p.text-favorite").text("{% trans 'Remove from Favorite' %}");
                    $("#favorite").attr("title", "{% trans 'Remove from Favorite' %}");
                }
                else
                {                         
                    $("#icon-favorite").attr("class", "fa fa-thumbs-o-up");
                    $("span.count-favorite").text((count - 1).toString());
                    $("p.text-favorite").text("{% trans 'Add to Favorite' %}");
                    $("#favorite").attr("title", "{% trans 'Add to Favorite' %}");
                }
            }
        })
    });

    $('#watched').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddwatched/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                var text = $('.count-watched').first().text();
                var count = parseInt(text);
                if (data.is_watched) {               
                    $("#icon-watched").attr("class", "fa fa-eye-slash");
                    $("span.count-watched").text((count + 1).toString());
                    $("p.text-watched").text("{% trans 'Remove from Watched' %}");
                    $("#watched").attr("title", "{% trans 'Remove from Watched' %}");
                }
                else
                {                         
                    $("#icon-watched").attr("class", "fa fa-eye");
                    $("span.count-watched").text((count - 1).toString());
                    $("p.text-watched").text("{% trans 'Add to Watched' %}");
                    $("#watched").attr("title", "{% trans 'Add to Watched' %}");
                }
            }
        })
    });

    $('#watchlist').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddwatchlist/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                var text = $('.count-watchlist').first().text();
                var count = parseInt(text);
                if (data.is_added) {               
                    $("#icon-watchlist").attr("class", "fa fa-minus-circle");
                    $("span.count-watchlist").text((count + 1).toString());
                    $("p.text-watchlist").text("{% trans 'Remove from Watchlist' %}");
                    $("#watchlist").attr("title", "{% trans 'Remove from Watchlist' %}");
                }
                else
                {                         
                    $("#icon-watchlist").attr("class", "fa fa-plus-circle");
                    $("span.count-watchlist").text((count - 1).toString());
                    $("p.text-watchlist").text("{% trans 'Add to Watchlist' %}");
                    $("#watchlist").attr("title", "{% trans 'Add to Watchlist' %}");
                }
            }
        })
    });

    $("input[name='rating']").click(function () {
        var id = $(this).attr("data-id");
        var rating = $(this).val();
        $.ajax({
            type: "GET",
            url: "/seriesgiverating/",
            data: {
                series_id: id,
                rating: rating
            },
            success: function(data)
            {
                $("span.avg-score").text(" " + data.average.toFixed(1).toString());
                $("#icon-rating").attr("class", "fa fa-star");
                $("span.user-rating").text(rating);                
                $("p.text-rating").text("{% trans 'Edit Rating' %}");
                $("#rating").attr("title", "{% trans 'Edit Rating' %}");
                alert("{% trans 'Thanks for your review.' %}");
            }
        });
    });
</script>
{% endblock %}