{% extends 'base.html' %}
{% load static custom_tags series_tags i18n %}
{% block title %}
{% trans 'Series List' %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div id="list" class="container">
    <nav aria-label="breadcrumb" class="m-md-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Series' %}</li>
        </ol>
    </nav>
    <div class="m-md-3">
        <form method="get" action="." id="filterform" class="p-3">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="searchbyname">{% trans 'Search by name' %}</label>
                    <div class="input-group" id="searchbyname">                                        
                        <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="{% trans 'Name' %}..." {% if name is not None %} value="{{ name }}" {% endif %} />
                        <a id="searchbutton" href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="inputGenre">{% trans 'Genre' %}</label>
                    <select id="inputGenre" class="form-control" name="genrename">
                        <option {% if genrename is None %} selected {% endif %}>{% trans 'Any' %}</option>
                        {% for genre in genres %}
                        <option value="{{ genre }}" {% if genrename == genre.name %} selected {% endif %}>{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="sort">{% trans 'Sort By' %}</label>
                    <select id="sort" class="form-control" name="sortby">
                        <option {% if sortby == "Latest" %} selected {% endif %} >Latest</option>         
                        <option {% if sortby == 'IMDB Rating' or sortby == 'IMDB Үнэлгээгээр' %} selected {% endif %} >{% trans 'IMDB Rating' %}</option> 
                        <option {% if sortby == 'Metascore' or sortby == 'Meta Үнэлгээгээр' %} selected {% endif %} >{% trans 'Metascore' %}</option>   
                        <option {% if sortby == "Likes" %} selected {% endif %} >Likes</option>                                                        
                        <option {% if sortby == "Watched" %} selected {% endif %} >Watched</option>    
                        <option {% if sortby == "Watchlisted" %} selected {% endif %} >Watchlisted</option>                                                         
                        <option {% if sortby == "Release date (Newest first)" %} selected {% endif %} >Release date (Newest first)</option>        
                        <option {% if sortby == "Release date (Oldest first)" %} selected {% endif %} >Release date (Oldest first)</option>                    
                        <option {% if sortby == "Alphabetically (A-Z)" %} selected {% endif %} >Alphabetically (A-Z)</option>           
                        <option {% if sortby == "Alphabetically (Z-A)" %} selected {% endif %} >Alphabetically (Z-A)</option>                                   
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-2">
                    <label class="text-light" style="visibility: hidden;">{% trans 'Search' %}</label>
                    <button type="submit" class="btn btn-danger btn-block rounded-0">{% trans 'Search' %}</button>
                </div>
            </div>        
        </form>
    </div>
    <div class="text-center m-3">
        <label for="pagination">{% trans 'Total' %}: {{ count }} {% trans 'series' %}</label>
    </div> 
    <div class="row p-md-3">
        {% for series in queryset %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" >
                <a href="{% url 'seriesdetail' series.pk %}">                    
                    <div class="card rounded-0 mb-0">                                     
                        {% if series.image %}
                        <img class="card-img" src="{{ series.image.url }}" alt="Card image">
                        {% else %}
                        <div class="card-img" style="min-height: 220px;">
                            <div class="d-flex justify-content-center align-items-center text-center">
                                <h5 class="p-3" style="color: #000;">{{ series }}</h5>                                
                            </div>
                        </div>
                        {% endif %}   
                        <div class="card-img-overlay">       
                            <div class="scores d-flex justify-content-start p-0 text-center">
                                <div class="imdb p-2" style="width: 50%;">
                                    <span style="font-size: 16px;">
                                        <img src="{% static 'images/imdb_logo.png' %}" alt="imdb_logo" style="width: 20px; height: 20px">
                                        {{ series.imdb_rating }}
                                    </span>
                                </div>
                                <div class="metascore p-2" style="width: 50%;">
                                    <span style="font-size: 16px;">
                                        <img src="{% static 'images/metacritic_logo.png' %}" alt="imdb_logo" style="width: 20px; height: 20px;">
                                        {{ series.metascore }}
                                    </span>
                                </div>
                            </div>          
                            <div class="title d-flex justify-content-center align-items-center text-center">
                                <h6 class="card-title text-center">{{ series }}</h6>
                            </div>
                            <div class="actions d-flex justify-content-start p-0 text-center">
                                {% if profile is None %}
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Favorite' %}">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Watched' %}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Watchlist' %}">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                                {% else %}
                                <a id="favorite{{ series.id }}" href="#" class="action favorite p-2" style="width: 33%;" data-id="{{ series.id }}"
                                    title="{% if series|is_favorite:profile %} {% trans 'Remove from Favorite' %} {% else %} {% trans 'Add to Favorite' %} {% endif %}">
                                    <i id="icon-favorite{{ series.id }}" class="{% if series|is_favorite:profile %} fa fa-thumbs-up {% else %} fa fa-thumbs-o-up {% endif %}"></i>
                                </a>
                                <a id="watched{{ series.id }}" href="#" class="action watched p-2" style="width: 33%;" data-id="{{ series.id }}"
                                    title="{% if series|is_watched:profile %} {% trans 'Remove from Watched' %} {% else %} {% trans 'Add to Watched' %} {% endif %}">
                                    <i id="icon-watched{{ series.id }}" class="{% if series|is_watched:profile %} fa fa-eye-slash {% else %} fa fa-eye {% endif %}"></i>
                                </a>
                                <a id="watchlist{{ series.id }}" href="#" class="action watchlist p-2" style="width: 33%;" data-id="{{ series.id }}"
                                    title="{% if series|is_watchlisted:profile %} {% trans 'Remove from Watchlist' %} {% else %} {% trans 'Add to Watchlist' %} {% endif %}">
                                    <i id="icon-watchlist{{ series.id }}" class="{% if series|is_watchlisted:profile %} fa fa-minus-circle {% else %} fa fa-plus-circle {% endif %}"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>                                                                                                         
                    </div>                
                </a>                                        
            </div>
        {% endfor %}
    </div>
    <div class="text-center m-3">        
        <div id="pagination" class="d-flex justify-content-center">           
            {% include 'includes/pagination.html' %}  
        </div>
    </div>    
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });    

    $('.favorite').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddfavorite/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                if (data.is_liked) {               
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-up");
                    $("#favorite" + id).attr("title", "Remove from Favorite");
                }
                else
                {                         
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-o-up");
                    $("#favorite" + id).attr("title", "Add to Favorite");
                }
            }
        })
    });

    $('.watched').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddwatched/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                if (data.is_watched) {               
                    $("#icon-watched" + id).attr("class", "fa fa-eye-slash");
                    $("#watched" + id).attr("title", "Remove from Watched");
                }
                else
                {                         
                    $("#icon-watched" + id).attr("class", "fa fa-eye");
                    $("#watched" + id).attr("title", "Add to Watched");
                }
            }
        })
    });

    $('.watchlist').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/seriesaddwatchlist/",
            data: {
                series_id: id
            },
            success: function(data)
            {
                if (data.is_added) {               
                    $("#icon-watchlist" + id).attr("class", "fa fa-minus-circle");
                    $("#watchlist" + id).attr("title", "Remove from Watchlist");
                }
                else
                {                         
                    $("#icon-watchlist" + id).attr("class", "fa fa-plus-circle");
                    $("#watchlist" + id).attr("title", "Add to Watchlist");
                }
            }
        })
    });
</script>
{% endblock %}