body {
    font-family: 'Comfortaa', cursive;    
}

#top {
    background: #f1f1f1;
    color: #e7c9c9;    
}

#top h3 {
    color: #000000;
    margin-top: 10px;
}

#top .fa {
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 50%;    
    border: 4px solid #000000;
    color: #000000;
}

/* #top .fa-facebook {
    color: #3B5998;
}

#top .fa-twitter {
    color: #55ACEE;
}

#top .fa-google {
    color: #dd4b39;
}

#top .fa-youtube {
    color: #bb0000;
}

#top .fa-instagram {
    color: #125688;
} */

#top .fa-facebook:hover {
    background: #3B5998;
    color: white;
    border: 4px solid #f1f1f1;
}

#top .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    border: 4px solid #f1f1f1;
}

#top .fa-google:hover {
    background: #dd4b39;
    color: white;
    border: 4px solid #f1f1f1;
}

#top .fa-youtube:hover {
    background: #bb0000;
    color: white;
    border: 4px solid #f1f1f1;
}

#top .fa-instagram:hover {
    background: #125688;
    color: white;
    border: 4px solid #f1f1f1;
}

#top #logo {    
    width: 110px;
    height: 80px;
}

#top #logo .body {
    background: #1d1c1b;    
    width: 60px;
    height: 30px;
    margin-left: 20px;
    margin-top: 35px;
}

#top #logo .roll {
    background: #1d1c1b;
    border-radius: 50%;    
    border: 2px solid #f1f1f1;    
}

#top #logo .roll.small {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    margin-top: -50px;
    position: relative;
    animation: rotationSmall 8s infinite linear;
}

#top #logo .roll.big {
    width: 40px;
    height: 40px;
    margin-left: 45px;
    margin-top: -40px;
    position: relative;
    animation: rotationBig 8s infinite linear;
}

#top #logo .roll .hole {    
    border-radius: 50%;    
    background: #f1f1f1;    
    position: absolute;
}

#top #logo .roll.small .hole {
    width: 6px;
    height: 6px;
}

#top #logo .roll.big .hole {
    width: 8px;
    height: 8px;
}

#top #logo .roll .hole.hole1 {
    left: 40%;
    top: 10%;
}

#top #logo .roll .hole.hole2 {
    right: 11%;
    top: 33%;
}

#top #logo .roll .hole.hole3 {
    right: 22%;
    top: 63%;
}

#top #logo .roll .hole.hole4 {
    left: 23%;
    top: 63%;
}

#top #logo .roll .hole.hole5 {
    left: 13%;
    top: 33%;
}

#top #logo .thing {    
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 15px solid #1d1c1b;
    border-bottom: 12px solid transparent;
    margin-top: -7px;
    margin-left: 73px;
}

@keyframes rotationSmall {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes rotationBig {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.navbar-dark .left .nav-item {
    min-width: 150px;
}

.navbar-dark .left .nav-item .nav-link {        
    font-size: large;
    text-decoration: none;
    display: inline-block;
}

.navbar-dark .left .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1f1f1;
    transition: width .3s;
}

.navbar-dark .left .nav-item .nav-link:hover::after {
    width: 100%;
}

.navbar-dark .left .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-dark .right .nav-item {
    min-width: 80px;
}

.navbar-dark .right .search,
.navbar-dark .right .dropdown-toggle {  
    color: #f1f1f1;   
    text-decoration: none;              
}

nav form a {
    text-decoration: none;    
}

nav form a:hover {    
    text-decoration: none;    
}

nav form a:hover i {
    color: #f1f1f1;
}