body {
    font-family: 'Comfortaa', cursive;    
    background: #d1dcdf;
    /* background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);    */
}

/* .content {
    background: url('/static/images/blue_cubes-wallpaper-1920x1080.jpg');        
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
} */

nav {
    background: #020d18;     
    min-height: 80px;       
}

#logo {    
    background: #020d18;
    width: 60px;
    height: 60px;
}

#logo .body {
    background-image: url('/static/images/camera.jpg');
    background-size: cover;
    border-radius: 50%;
    text-shadow: 2px 2px 4px #000000;
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 5px;    
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.navbar-brand {    
    color: #fff;    
}

.navbar-brand:hover {
    color: #fff;    
}

.nav-link {
    color: #fff;     
    width: 100px;
}

.nav-link:hover {        
    background: #dd4b39;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#footer {
    background: #020d18;
    color: #fff;    
}

#footer .fa {
    padding: 12px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;    
    border-radius: 50%;    
    border: 2px solid #fff;
    color: #fff;
}

#footer .fa-facebook:hover {
    background: #3B5998;
    color: white;
    border: 2px solid #f1f1f1;
}

#footer .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    border: 2px solid #f1f1f1;
}

#footer .fa-google:hover {
    background: #dd4b39;
    color: white;
    border: 2px solid #f1f1f1;
}

#footer .fa-youtube:hover {
    background: #bb0000;
    color: white;
    border: 2px solid #f1f1f1;
}

#footer .fa-instagram:hover {
    background: #125688;
    color: white;
    border: 2px solid #f1f1f1;
}

