.episode {
    cursor: pointer;
}

.episode:hover {
    background: #dedede;
}

#action_section .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;    
    text-decoration: none;    
}

#action_section a,
#action_section div {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#action_section a:hover,
#action_section div:hover {
    background: #dedede;   
}

.modal-rating input {
    display: none;
}

.modal-rating label {
    font-size: 24px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: #ddd;
}

.modal-rating .checked {
    color: #FFD700;
}

.modal-rating input:checked ~ label {
    color: #FFD700;
}

.modal-rating input:checked + label:hover,
.modal-rating input:checked ~ label:hover,
.modal-rating label:hover ~ input:checked ~ label,
.modal-rating input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.modal-rating:not(:checked) label:hover,
.modal-rating:not(:checked) label:hover ~ label {
    color: #FFD700;
}

@media screen and (max-width:576px) {
    #action_section a {
        height: 50px;
    }

    #action_section span {
        display: none;
    }

    #action_section p {
        display: none;
    }

    #action_section .fa {
        font-size: 26px;
        padding: 12px;    
        width: 50px;
        height: 50px;    
    }
}