#suggestedmovie {
    margin-top: 0;
}

.header {
    color: #fff;
    font-size: 32px;
}

.trailer {
    position: relative;    
}

.video {
    width: 100%; 
    height: auto;    
}

.controls {
    position: absolute;
    bottom: 25%;
    right: 5%;    
}

.details {
    position: absolute;
    bottom: 20%;
    left: 10%;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    padding: 20px;
}

.circle-control {
    cursor: pointer;
}

.circle-control .fa {
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    color: white;        
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.circle-control:hover .fa {
    background: rgba(255, 255, 255, 0.6);
}

.card {    
    color: #fff;
    overflow: hidden;
}

.card-img-overlay {             
    height: 25%;          
    transition: all .5s ease;    
}

.card-img-overlay.full {
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.card-img-overlay.top {
    top: -25%; 
}

.card-img-overlay.mid {
    height: 50%;
    top: 25%;
    visibility: hidden;
}

.card-img-overlay.bot {
    top: 100%;
}

.card:hover .card-img-overlay.top {        
    top: 0;  
}

.card:hover .card-img-overlay.bot {        
    top: 75%;  
}

.card:hover .card-img-overlay.full {
    visibility: visible;
}

.card:hover .card-img-overlay.mid {
    visibility: visible;
}

.star-rating .fa {
    color: white;
}

.star-rating .checked {
    color: orange;
}

.filmtitle {
    font-size: 20px;
}

#counter {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background: #030b0f;
}

@media only screen and (max-width: 480px) {
    #suggestedmovie {
        margin-top: 80px;
    }
    
    .details {
        top: 100%;
        left: 0;
        background: #030b0f;
        color: #fff;
        padding: 20px;
        left: 4%;        
        width: 92%;               
        position: relative;
    }

    .controls {        
        bottom: 60%;
        right: 5%;    
    }

    .header {
        font-size: 18px;
        padding: 0;
    }
    
    .text {
        font-size: 12px;
    }

    .filmtitle {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }

    .card-img-overlay.full {
        visibility: visible;
    }
    
    .card-img-overlay.top {
        top: 0; 
    }
    
    .card-img-overlay.mid {
        visibility: visible;
    }
    
    .card-img-overlay.bot {
        top: 75%;
    }    

    .star-rating .fa {
        font-size: 12px;
    }
}
