.header {
    color: #020d18;
    font-size: 32px;
    font-weight: bold;
}

#searchform p {
    font-size: 32px;
}

#searchform select {
    background: #020d18; 
    color: #fff; 
    border-radius: 0%;
    font-size: 20px;    
    max-width: 120px;    
}

#searchform option,
#searchform input,
#searchform button {
    background: #020d18; 
    color: #fff;       
    border-radius: 0%;
    font-size: 20px; 
}

#searchform button:hover {
    background: #dd4b39; 
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.viewButton {
    background: #020d18;
    color: #fff;
    border-radius: 0%;
}

.viewButton:hover {
    background: #dd4b39;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.card {    
    color: #fff;
    overflow: hidden;
}

.card-img-overlay {             
    height: 25%;          
    transition: all .5s ease;    
}

.card-img-overlay.full {
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.card-img-overlay.top {
    top: -25%; 
}

.card-img-overlay.mid {
    height: 50%;
    top: 25%;
    visibility: hidden;
}

.card-img-overlay.bot {
    top: 100%;
}

.card:hover .card-img-overlay.top {        
    top: 0;  
}

.card:hover .card-img-overlay.bot {        
    top: 75%;  
}

.card:hover .card-img-overlay.full {
    visibility: visible;
}

.card:hover .card-img-overlay.mid {
    visibility: visible;
}

.star-rating .fa {
    color: white;
}

.star-rating .checked {
    color: orange;
}

.readButton {
    border-radius: 0%;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;    
}

.movie-release {
    color: #dedede;
    font-size: 14px;    
}

#counter {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background: #020d18;
}

@media only screen and (max-width: 480px) {
    .header {
        font-size: 20px;
    }

    #searchform p {
        font-size: 20px;
    }       
    
    #searchform select {
        font-size: 12px;    
        max-width: 80px;  
        padding: 0%;  
    }
    
    #searchform option,
    #searchform input,
    #searchform button {    
        font-size: 12px; 
    }

    .viewButton {
        font-size: 12px;
    }
}
