#list {
    color: white;
    margin-top: 100px;
    min-height: 90vh;
}

.breadcrumb, #filterform {
    background: #030b0f;    
    border-radius: 0%;
    border: 1px solid white;
}

#filterform .form-control {
    background: #030b0f;
    border-radius: 0%;
    color: white;
}

#searchbutton {
    cursor: pointer;
    text-decoration: none;
    border-radius: 0%;
}

#searchbutton:hover {
    background: #dd4b39;      
}

#searchbutton:hover .fa-search {
    color: white;
}

.card {    
    border: 4px solid #000; 
    background: #030b0f;   
    width: 100%;
    height: 220px;
    transition: all .5s;    
    overflow: hidden;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card:hover {
    border: 4px solid #fff;    
}

.card:hover .card-img-overlay {       
    background: rgba(0, 0, 0, 0.7);  
}

.card:hover .title {
    visibility: visible;
}

.card:hover .scores {
    visibility: visible;
}

.card-img {     
    height: auto;
    width: 100%;    
}

.card-img-overlay {         
    border: none;
    color: #fff;       
    height: 100%;
    width: 100%;    
    text-decoration: none;                
    padding: 0;
}

.scores {
    background: rgba(0, 0, 0, 0.3);
    height: 20%;
    width: 100%;
    top: 0;
    visibility: hidden;
}

.title {         
    height: 60%;
    width: 100%;
    padding: 5px;
    color: #fff;
    visibility: hidden;
}

.actions {      
    background: rgba(0, 0, 0, 0.3);   
    height: 20%;
    width: 100%;
    bottom: 0;        
}

.actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions .fa {         
    font-size: 20px;      
    color: #fff;         
}

.actions .action:hover {
    background: rgba(255, 255, 255, 0.3);
}

.page-link {
    background: #030b0f;
    color: white;
}

.page-item.disabled .page-link {
    background: #030b0f;
    background: rgba(0, 0, 0, 0.3);
    color: #dedede;
}

.page-item.active .page-link {
    background: #dd4b39;
    border: 1px solid white;
    color: white;
}
