#movielist form a {
    cursor: pointer;
}

#movielist form a:hover {
    background: #efe2ed;    
}

#movielist ul {
    list-style-type: none;
}

#movielist .row nav {
    background: white;
}

#movielist .card {    
    border: 2px solid #263238;   
}

#movielist .card-img { 
    display: inline-block;           
    overflow: hidden;
}

#movielist .card-img-top {
    height: 280px;
    width: auto;
    display: block;
    transition: transform .4s;
}

#movielist .card-img:hover .card-img-top {
    transform: scale(1.2);
    transform-origin: 50% 50%;
}

#movielist .card-title {
    font-size: small;
    font-weight: bold;
    height: 35px; 
    overflow: hidden; 
    margin: 0; 
    padding: 0%;
}

#movielist a {
    text-decoration: none;
    color: black;
}

#movielist a:hover {
    background: #dedede;
}

@media screen and (max-width:576px) {
    #movielist .card {
        max-width: 500px;
    }

    #movielist .card-img-top {
        height: auto;
        width: 100%;
    }

    #movielist .card-title {
        font-size: large;
    }
}