{% extends 'base.html' %}
{% load static crispy_forms_tags i18n %}

{% block title %}
{% trans 'Delete Season' %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px; height: 80vh;">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'serieslist' %}">{% trans 'Series' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'seriesdetail' series.pk %}">{{ series }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete {{ season.name }}</li>
        </ol>
    </nav> 
    <div class="m-3" style="color: white;">        
        <form method="POST" id="filterform" class="p-3" novalidate>
            {% csrf_token %}               
            <h4>Are you sure you want to delete {{ season }}?</h4>               
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger rounded-0">Confirm</button>
            </div>         
        </form>
    </div>    
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}