{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block style %}
<style>
    form a {
        cursor: pointer;
        text-decoration: none;
    }

    form a:hover {
        background: #c3cac2;          
        text-decoration: none;  
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>        
            <li class="breadcrumb-item active" aria-current="page">Edit movie</li>
        </ol>
    </nav> 
    <form action="." class="p-3" id="filterform">
        <div class="form-group">
            <label for="searchmovie">Search movie</label>
            <div class="form-group" id="searchmovie">                
                <div class="input-group">                                        
                    <input class="form-control py-2 border-right-0 border" type="search" id="moviesearch" name="moviesearch" placeholder="Movie name..."/>
                    <a id="moviesearchbutton" href="#" class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>                                          
        <div id="movieresult" class="form-group">
        </div>
    </form>    
    <div class="border rounded m-3 p-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Movie name" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Movie ID" readonly>
                </div>
            </div>            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="4" id="description" name="description" placeholder="Movie description" ></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="plot">Plot</label>
                    <textarea class="form-control" rows="4" id="plot" name="plot" placeholder="Movie plot" ></textarea>
                </div>
            </div>            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="runningtime">Running time</label>
                    <input type="number" min="0" class="form-control" name="runningtime" id="runningtime" value="90">
                </div>
                <div class="form-group col-md-4">
                    <label for="release_date">Release date</label>
                    <input type="date" class="form-control" name="release_date" id="release_date">
                </div>
                <div class="form-group col-md-4">
                    <label for="mpa_rating">MPA Rating</label>
                    <select class="custom-select" id="mpa_rating" name="mpa_rating">
                        {% for mpa_rating in mpa_ratings %}
                        <option id="mpa_rating{{mpa_rating.id}}" value="{{ mpa_rating.id }}">{{ mpa_rating.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label>Genre</label>
            <div class="form-row">                
                {% for genre in genres %}
                <div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input genreCheck" id="genreCheck{{genre.id}}" name="genre" value="{{ genre.id }}">
                        <label class="custom-control-label" for="genreCheck{{genre.id}}">{{ genre.name }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="trailer">Trailer</label>
                    <iframe id="trailerfield" width="100%" height="143px" src="" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <input type="text" class="form-control" name="trailer" id="trailer" placeholder="URL:">
                </div>
                <div class="form-group col-md-4">
                    <label for="custom-file-image">Image</label>
                    <div class="border d-flex justify-content-center" style="width: 100%; height: 150px;">
                        <img id="imagefield" src="" style="height: 100%; width: auto;">
                    </div>                    
                    <div class="custom-file" id="custom-file-image">
                        <input type="file" class="custom-file-input" name="image" id="image" required>
                        <label class="custom-file-label" for="image">Choose file</label>
                    </div>                    
                </div>
                <div class="form-group col-md-4">                    
                    <label for="custom-file-poster">Poster</label>
                    <div class="border d-flex justify-content-center" style="width: 100%; height: 150px;">
                        <img id="posterfield" src="" style="height: 100%; width: auto;">
                    </div>                    
                    <div class="custom-file" id="custom-file-poster">
                        <input type="file" class="custom-file-input" name="poster" id="poster" required>
                        <label class="custom-file-label" for="poster">Choose file</label>
                    </div>                       
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>Find director</label>
                    <div class="form-group" id="divsearchdirector">                
                        <div class="input-group">                                        
                            <input class="form-control py-2 border-right-0 border" type="search" id="directorsearch" name="directorsearch" placeholder="Director name..."/>
                            <a id="directorsearchbutton" href="#" class="input-group-append">
                                <div class="input-group-text bg-transparent">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id='directorresult' class='form-row'>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="directorlist">Director</label>
                    <div id="directorlist" class="rounded border" style="min-height: 120px;">
                    </div>                    
                </div>                
            </div>  
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>Find actor</label>
                    <div class="form-group">                
                        <div class="input-group">                                        
                            <input class="form-control py-2 border-right-0 border" type="search" id="actorsearch" name="actorsearch" placeholder="Actor name..."/>
                            <a id="actorsearchbutton" href="#" class="input-group-append">
                                <div class="input-group-text bg-transparent">
                                    <i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="actorresult" class="form-row">                        
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="castlist">Cast</label>
                    <div id="castlist" class="rounded border" style="min-height: 240px;">
                    </div>
                </div>
            </div>      
            <div class="form-row">
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" id="deleteBtn" class="btn btn-danger btn-block">Delete</button>
                </div>
            </div>                
        </form>
    </div> 
</div>     
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    $("#moviesearchbutton").click(function (e) {
        e.preventDefault();
        var searchtext = $("#moviesearch").val();
        $.ajax({
            type: "GET",
            url: "/searchmovie/",
            data: {
                searchtext: searchtext
            },
            success: function(data)
            {
                $("#movieresult").empty();
                for (m in data.movies) {                    
                    $("#movieresult").append(
                        "<div class='custom-control custom-radio custom-control-inline'>" +
                            "<input type='radio' class='custom-control-input radioMovie' name='movieselector' id='movieRadio" + data.movies[m].id + "' data-id='" + data.movies[m].id + "' data-name='" + data.movies[m].name + "' onchange='selectMovie(this)'>" +
                            "<label class='custom-control-label' for='movieRadio" + data.movies[m].id + "'>" + data.movies[m].name + "</label>" +
                        "</div>"
                    )
                }
            }
        })
    });

    function selectMovie(radio) {        
        var id = radio.getAttribute("data-id");            
        var name = radio.getAttribute("data-name");        
        $.ajax({
            type: "GET",
            url: "/getmoviebyid/",
            data: {
                id: id
            },
            success: function(data)
            {   
                $("#id").val(data.id);                   
                $("#name").val(data.name);
                $("#description").val(data.description);
                $("#plot").val(data.plot);
                $("#runningtime").val(data.runningtime);
                $("#release_date").val(data.release_date);          
                $("#mpa_rating" + data.mpa_rating).prop("selected", true);
                $(".genreCheck").prop("checked", false);
                var genres = JSON.parse(data.genres);                                
                for (var i = 0; i < genres.length; i++) {                    
                    $("#genreCheck" + genres[i]['pk']).prop("checked", true);
                }
                // $("#trailerfield").attr("src", data.trailer);
                // $("#trailer").val(data.trailer);
                // $("#imagefield").attr("src", data.image);
                // $("#posterfield").attr("src", data.poster);
                $("#directorlist").empty();
                var directors = JSON.parse(data.directors);
                for (var i = 0; i < directors.length; i++) {                    
                    $("#directorlist").append(
                        "<div id='director" + directors[i]['pk'] + "' class='form-group col'>" +
                            "<div class='custom-control custom-checkbox'>" +
                                "<input type='checkbox' class='custom-control-input checkDirector' name='director' id='directorCheck" + directors[i]['pk'] + "' value='" + directors[i]['pk'] + "' checked>" +
                                "<label class='custom-control-label' for='directorCheck" + directors[i]['pk'] + "'>" + directors[i]['fields']['name'] + "</label>" +
                            "</div>" +
                        "</div>"
                    )
                }
                $("#castlist").empty();
                var actors = JSON.parse(data.actors);
                for (var i = 0; i < actors.length; i++) {                    
                    $("#castlist").append(
                        "<div id='actor" + actors[i]['pk'] + "' class='form-group col'>" +
                            "<div class='custom-control custom-checkbox'>" +
                                "<input type='checkbox' class='custom-control-input checkActor' name='actor' id='actorCheck" + actors[i]['pk'] + "' value='" + actors[i]['pk'] + "' checked>" +
                                "<label class='custom-control-label' for='actorCheck" + actors[i]['pk'] + "'>" + actors[i]['fields']['name'] + "</label>" +
                            "</div>" +
                        "</div>"
                    )
                }
            }
        })
    }

    $("#directorsearchbutton").click(function (e) {
        e.preventDefault();
        var searchtext = $("#directorsearch").val();        
        $.ajax({
            type: "GET",
            url: "/searchdirector/",
            data: {
                searchtext: searchtext
            },
            success: function(data)
            {
                $("#directorresult").empty();
                for (d in data.directors) {                    
                    $("#directorresult").append(
                        "<div class='form-group col-12 col-sm-6 col-md-3 mb-3'>" +
                            "<div class='custom-control custom-checkbox'>" +
                                "<input type='checkbox' class='custom-control-input checkDirector' id='directorCheck" + data.directors[d].id + "' data-id='" + data.directors[d].id + "' data-name='" + data.directors[d].name + "' onchange='selectDirector(this)'>" +
                                "<label class='custom-control-label' for='directorCheck" + data.directors[d].id + "'>" + data.directors[d].name + "</label>" +
                            "</div>" +
                        "</div>"
                    )
                }
            }
        })
    });

    $("#actorsearchbutton").click(function (e) {
        e.preventDefault();
        var searchtext = $("#actorsearch").val();        
        $.ajax({
            type: "GET",
            url: "/searchactor/",
            data: {
                searchtext: searchtext
            },
            success: function(data)
            {
                $("#actorresult").empty();
                for (d in data.actors) {                    
                    $("#actorresult").append(
                        "<div class='form-group col-12 col-sm-6 col-md-3 mb-3'>" +
                            "<div class='custom-control custom-checkbox'>" +
                                "<input type='checkbox' class='custom-control-input' id='actorCheck" + data.actors[d].id + "' data-id='" + data.actors[d].id + "' data-name='" + data.actors[d].name + "' onchange='selectActor(this)'>" +
                                "<label class='custom-control-label' for='actorCheck" + data.actors[d].id + "'>" + data.actors[d].name + "</label>" +
                            "</div>" +
                        "</div>"
                    )
                }
            }
        })
    });

    function selectDirector(checkbox) {        
        var id = checkbox.getAttribute("data-id");            
        var name = checkbox.getAttribute("data-name");        
        if (checkbox.checked) {
            $("#directorlist").append(
                "<div id='director" + id + "' class='form-group col'>" +
                    "<div class='custom-control custom-checkbox'>" +
                        "<input type='checkbox' class='custom-control-input checkDirector' name='director' id='directorCheck" + id + "' value='" + id + "' checked>" +
                        "<label class='custom-control-label' for='directorCheck" + id + "'>" + name + "</label>" +
                    "</div>" +
                "</div>"
            )
        }
        else {
            $("#director" + id).remove();
        }
    }

    function selectActor(checkbox) {        
        var id = checkbox.getAttribute("data-id");   
        var name = checkbox.getAttribute("data-name");        
        if (checkbox.checked) {
            $("#castlist").append(
                "<div id='actor" + id + "' class='form-group col'>" +
                    "<div class='custom-control custom-checkbox'>" +
                        "<input type='checkbox' class='custom-control-input checkActor' name='actor' id='actorCheck" + id + "' value='" + id + "' checked>" +
                        "<label class='custom-control-label' for='actorCheck" + id + "'>" + name + "</label>" +
                    "</div>" +
                "</div>"
            )
        }
        else {
            $("#actor" + id).remove();
        }
    }

    $("#image").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#imagefield").attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    $("#poster").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#posterfield").attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    $("#trailer").on("input", function () {
        var input = $(this);
        var url = input.val();
        console.log(url);
        $("#trailerfield").attr('src', url);
    })

    $("#deleteBtn").click(function () {        
        var id = $("#id").val();
        if (id == "")
        {
            alert("Please select movie first.");
        }
        else {
            var result = confirm("Are you sure to delete this movie from database?");
            if (result) {
                $.ajax({
                    type: "GET",
                    url: "/moviedelete/",
                    data: {
                        id: id
                    },
                    success: function(data)
                    {
                        console.log("Deleted");
                        location.reload();
                    }
                })
            }
            else {
                console.log("No");
            }
        }        
    });
</script>
{% endblock %}