{% if queryset.has_other_pages %}
<style>
    .pagination > li > a
    {
        background-color: white;
        color: #292b2c;
    }

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

    .pagination > .active > a
    {
        color: white;
        background-color: #292b2c !Important;
        border: solid 1px #292b2c !Important;
    }

    .pagination > .active > .page-link {
        background-color: #292b2c;
        border: solid 1px #292b2c;
    }

    .pagination > .active > a:hover
    {
        background-color: #292b2c !Important;
        border: solid 1px #292b2c;
    }
</style>
<nav aria-label="Movies pagination" class="bg-white">
    <ul class="pagination">
        {% if queryset.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% if name %}name={{name}}&{% endif %}{% if rating %}rating={{rating}}&{% endif %}{% if release_date %}release_date={{release_date}}&{% endif %}{% if genrename %}genrename={{genrename}}&{% endif %}{% if sortby %}sortby={{sortby}}&{% endif %}page={{ queryset.previous_page_number }}">
                Previous
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}
        
        {% for page_num in queryset.paginator.page_range %}
            {% if queryset.number == page_num %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page_num }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?{% if name %}name={{name}}&{% endif %}{% if rating %}rating={{rating}}&{% endif %}{% if release_date %}release_date={{release_date}}&{% endif %}{% if genrename %}genrename={{genrename}}&{% endif %}{% if sortby %}sortby={{sortby}}&{% endif %}page={{ page_num }}">
                    {{ page_num }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
        
        {% if queryset.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% if name %}name={{name}}&{% endif %}{% if rating %}rating={{rating}}&{% endif %}{% if release_date %}release_date={{release_date}}&{% endif %}{% if genrename %}genrename={{genrename}}&{% endif %}{% if sortby %}sortby={{sortby}}&{% endif %}page={{ queryset.next_page_number }}">
                Next
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}