{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block style %}
<style>
    form a {
        cursor: pointer;
        text-decoration: none;
    }

    form a:hover {
        background: #c3cac2;          
        text-decoration: none;  
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'artistlist' %}">{% trans 'Artists' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'artistdetail' artist.pk %}">{{ artist }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav> 
    <div class="border rounded m-3 p-3">
        <h4>Are you sure you want to delete {{ artist }} artist?</h4>
        <form method="POST" novalidate>
            {% csrf_token %}                              
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger">Confirm</button>
            </div>         
        </form>
    </div>    
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}