{% extends 'base.html' %}
{% load static custom_tags artist_tags i18n %}
{% block title %}
{% trans 'Artist List' %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div id="list" class="container">
    <nav aria-label="breadcrumb" class="m-md-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Artists' %}</li>
        </ol>
    </nav>
    <div class="m-md-3">
        <form method="get" action="." id="filterform" class="p-3">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="searchbyname">{% trans 'Search by name' %}</label>
                    <div class="input-group" id="searchbyname">                                        
                        <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="{% trans 'Name' %}..." {% if name is not None %} value="{{ name }}" {% endif %} />
                        <a id="searchbutton" href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="inputOccupation">{% trans 'Occupation' %}</label>
                    <select id="inputOccupation" class="form-control" name="occupationname">
                        <option {% if occupationname is None %} selected {% endif %}>{% trans 'Any' %}</option>
                        {% for occupation in occupations %}
                        <option value="{{ occupation }}" {% if occupationname == occupation.name %} selected {% endif %}>{{ occupation }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-5">
                    <label for="sort">{% trans 'Sort By' %}</label>
                    <select id="sort" class="form-control" name="sortby">
                        <option {% if sortby == "Latest" %} selected {% endif %} >Latest</option>                           
                        <option {% if sortby == "Alphabetically (A-Z)" %} selected {% endif %} >Alphabetically (A-Z)</option>           
                        <option {% if sortby == "Alphabetically (Z-A)" %} selected {% endif %} >Alphabetically (Z-A)</option>                                        
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-2">
                    <label class="text-light" style="visibility: hidden;">{% trans 'Search' %}</label>
                    <button type="submit" class="btn btn-danger btn-block rounded-0">{% trans 'Search' %}</button>
                </div>
            </div>        
        </form>
    </div>
    <div class="text-center m-3">
        <label for="pagination">{% trans 'Total' %}: {{ count }} {% trans 'artists' %}</label>
    </div> 
    <div class="row p-md-3">
        {% for artist in queryset %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" >
                <a href="{% url 'artistdetail' artist.pk %}">
                    <div class="card rounded-0 mb-0">                                     
                        {% if artist.image %}
                        <img class="card-img rounded-0" src="{{ artist.image.url }}" alt="Card image">
                        {% else %}
                        <div class="card-img" style="min-height: 220px;">
                            <div class="d-flex justify-content-center align-items-center text-center">
                                <h5 class="p-3" style="color: white;">{{ artist }}</h5>                                
                            </div>
                        </div>
                        {% endif %}   
                        <div class="card-img-overlay">                
                            <div class="scores d-flex justify-content-start p-0 text-center">
                                <div class="imdb p-2" style="width: 50%;">
                                    <span style="font-size: 16px;">
                                        <img src="{% static 'images/imdb_logo.png' %}" alt="imdb_logo" style="width: 20px; height: 20px">
                                        0.0
                                    </span>
                                </div>
                                <div class="metascore p-2" style="width: 50%;">
                                    <span style="font-size: 16px;">
                                        <img src="{% static 'images/metacritic_logo.png' %}" alt="imdb_logo" style="width: 20px; height: 20px;">
                                        0
                                    </span>
                                </div>
                            </div>          
                            <div class="title d-flex justify-content-center align-items-center text-center">
                                <h6 class="card-title text-center">{{ artist }}</h6>                               
                            </div>
                            <div class="actions d-flex justify-content-start p-0 text-center">
                                {% if profile is None %}
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Add to Favorite' %}">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Follow' %}">
                                    <i class="fa fa-user-plus"></i>
                                </a>
                                <a href="{% url 'account_login' %}" class="action p-2" style="width: 33%;" title="{% trans 'Give Rating' %}">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                {% else %}
                                <a id="favorite{{ artist.id }}" href="#" class="action favorite p-2" style="width: 33%;" data-id="{{ artist.id }}"
                                    title="{% if artist|is_favorite:profile %} {% trans 'Remove from Favorite' %} {% else %} {% trans 'Add to Favorite' %} {% endif %}">
                                    <i id="icon-favorite{{ artist.id }}" class="{% if artist|is_favorite:profile %} fa fa-thumbs-up {% else %} fa fa-thumbs-o-up {% endif %}"></i>
                                </a>
                                <a id="follow{{ artist.id }}" href="#" class="action follow p-2" style="width: 33%;" data-id="{{ artist.id }}"
                                    title="{% if artist|is_followed:profile %} {% trans 'Unfollow' %} {% else %} {% trans 'Follow' %} {% endif %}" >
                                    <i id="icon-follow{{ artist.id }}" class="{% if artist|is_followed:profile %} fa fa-user-times {% else %} fa fa-user-plus {% endif %}"></i>
                                </a>
                                <a id="rating{{ artist.id }}" href="#" class="action rating p-2" style="width: 33%;" title="{% trans 'Give Rating' %}" data-id="{{ artist.id }}">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>                                                                                                         
                    </div>                 
                </a>                                        
            </div>
        {% endfor %}
    </div>
    <div class="text-center m-3">        
        <div id="pagination" class="d-flex justify-content-center">           
            {% include 'includes/paginationArtist.html' %}  
        </div>
    </div>    
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });    

    $('.favorite').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/artistaddfavorite/",
            data: {
                artist_id: id
            },
            success: function(data)
            {
                if (data.is_liked) {               
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-up");
                    $("#favorite" + id).attr("title", "{% trans 'Remove from Favorite' %}");
                }
                else
                {                         
                    $("#icon-favorite" + id).attr("class", "fa fa-thumbs-o-up");
                    $("#favorite" + id).attr("title", "{% trans 'Add to Favorite' %}");
                }
            }
        })
    });

    $('.follow').click(function (e) {
        e.preventDefault();                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/artistaddfollowed/",
            data: {
                artist_id: id
            },
            success: function(data)
            {
                if (data.is_followed) {               
                    $("#icon-follow" + id).attr("class", "fa fa-user-times");
                    $("#follow" + id).attr("title", "{% trans 'Unfollow' %}");
                }
                else
                {                         
                    $("#icon-follow" + id).attr("class", "fa fa-user-plus");
                    $("#follow" + id).attr("title", "{% trans 'Follow' %}");
                }
            }
        })
    });
</script>
{% endblock %}