{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ artist.name }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/actordetail.css' %}">
{% endblock %}

{% block content %}
<div id="moviedetail" class="container">   
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'artistlist' %}">Artist List</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}</li>
        </ol>
    </nav> 
    <div class="p-3">
        <h4>{{ artist.name }}</h4>        
        {% for occ in artist.occupation.all %}
            <p>{{ occ.name }}</h5>
        {% endfor %}
        <h5>Career as actor</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Release Date</th>
                    <th>Film name</th>
                    <th>IMDB Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies_as_actor %}
                <tr>
                    <td>{{ movie.release_date|date:"Y" }}</td>
                    <td><a href="{% url 'moviedetail' movie.pk %}">{{ movie.name }}</a></td>
                    <td>{{ movie.rating }}</td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
        <h5>Career as director</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Release Date</th>
                    <th>Film name</th>
                    <th>IMDB Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies_as_director %}
                <tr>
                    <td>{{ movie.release_date|date:"Y" }}</td>
                    <td><a href="{% url 'moviedetail' movie.pk %}">{{ movie.name }}</a></td>
                    <td>{{ movie.rating }}</td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>        
    </div>    
</div>
{% endblock %}


{% block javascript %}
{% endblock %}