{% load static custom_tags i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'images/favicon_io/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{ form.media }} 
</head>
<body>  
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <div id="logo">
                <div class="body"></div>                        
            </div>
            <a class="navbar-brand ml-2" href="{% url 'home' %}">             
                {% trans 'MOLLYWOOD' %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border: 1px solid #fff;">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon" style="color: #fff; font-size: 28px;"></i></span>
            </button>      
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav left mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movielist' %}">{% trans 'MOVIES' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'serieslist' %}">{% trans 'SERIES' %}</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artistlist' %}">{% trans 'ARTISTS' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'NEWS' %}</a>
                    </li>                                   
                </ul>
                <ul class="navbar-nav right text-left text-md-center">                    
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link py-2 d-flex justify-content-start justify-content-md-center align-items-center" id="account" data-toggle="dropdown" href="#" title="{% trans 'Account' %}">
                            {% trans 'MY ACCOUNT' %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'PROFILE' %}</a>
                            {% if user|isAdmin %}
                            <a class="dropdown-item" href="{% url 'moviecreate' %}">{% trans 'NEW MOVIE' %}</a>                        
                            <a class="dropdown-item" href="{% url 'seriescreate' %}">{% trans 'NEW SERIES' %}</a>                        
                            <a class="dropdown-item" href="{% url 'artistcreate' %}">{% trans 'NEW ARTIST' %}</a>                        
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'SIGN OUT' %}</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">{% trans 'SIGN IN' %}</a>
                    </li>                                 
                    {% endif %}  
                    <li class="nav-item dropdown">
                        <a class="nav-link py-2 d-flex justify-content-start justify-content-md-center align-items-center" id="language" data-toggle="dropdown" href="#" title="{% trans 'Language' %}">                                                        
                            <i class="fa fa-globe" style="font-size: 22px;"></i>
                        </a>                        
                        <div class="dropdown-menu dropdown-menu-right py-2">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <button class="dropdown-item language" data-value="{{ language.code }}">
                                {{ language.name_local }} ({{ language.code }})
                            </button>
                            {% endfor %}                                                     
                            <form id="langform" action="{% url 'set_language' %}" method="post" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ redirect_to }}">    
                                <select name="language" class="custom-select">                                    
                                    {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                    {% endfor %}
                                </select>                                                          
                            </form>                      
                        </div>               
                    </li>
                </ul>
            </div>
        </div>        
    </nav>                 
    {% block content %}
    {% endblock %}           
    <div id="footer" class="jumbotron text-center mb-0 sticky-bottom">
        <div class="container">            
            <div class="mb-3">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>                    
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>     
            <p class="mb-0" style="font-size: small">© 2020 Mollywood. All Rights Reserved. Designed by One Plus.</p>
        </div>                
    </div>    
    {% block javascript %}
    <script>    
        $(".language").click(function () {       
            var lang = $(this).attr("data-value");       
            console.log(lang);
            $("#langform select").val(lang);
            $("#langform").submit();            
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(document).scrollTop() > 100) {
                    $("nav").addClass("scrolled");
                } else {
                    $("nav").removeClass("scrolled");
                }
            });
        });
    </script>
    {% endblock %}
</body>
<!-- <script src="https://kit.fontawesome.com/771227ba48.js" crossorigin="anonymous"></script> -->
</html>
