{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">        
</head>
<body>
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start align-items-center" style="min-height: 80px;">
                    <h3>Mollywood</h3>
                    <div id="logo">
                        <div class="body"></div>                        
                        <div class="roll small">
                            <div class="hole hole1"></div>
                            <div class="hole hole2"></div>
                            <div class="hole hole3"></div>
                            <div class="hole hole4"></div>
                            <div class="hole hole5"></div>
                        </div>
                        <div class="roll big">
                            <div class="hole hole1"></div>
                            <div class="hole hole2"></div>
                            <div class="hole hole3"></div>
                            <div class="hole hole4"></div>
                            <div class="hole hole5"></div>
                        </div>                        
                        <div class="thing"></div>
                    </div>
                    <!-- <div id="name" class="mt-3">
                        <h3>Mollywood</h3>
                    </div> -->
                </div>
                <div class="col-sm-6 d-flex justify-content-around justify-content-sm-end align-items-center" style="min-height: 80px;">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>                    
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">        
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav left mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movielist' %}">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Series</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artistlist' %}">Artists</a>
                    </li>                                   
                </ul>    
                <ul class="navbar-nav right text-center">
                    <!-- <form class="form-inline mr-3" action="." >         
                        <div class="input-group" id="searchbyname">                       
                            <input class="form-control py-1 border-right-0 border" id="search" type="search" name="search" placeholder="Search..." />
                            <a href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                                <div class="input-group-text bg-transparent">
                                    <i class="fa fa-search" style="font-size: 20px;"></i>
                                </div>
                            </a>
                        </div>
                    </form> -->
                    <li class="nav-item">                                        
                        <a class="icon py-2 d-flex justify-content-center align-items-center" id="search" href="#" title="Search">
                            <i class="fa fa-search" style="font-size: 22px;"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="icon py-2 d-flex justify-content-center align-items-center" id="notification" data-toggle="dropdown" href="#" title="Search">
                            <i class="fa fa-bell" style="font-size: 20px;"></i>
                        </a>
                        <div class="dropdown-menu py-2">
                            <a class="dropdown-item" href="#">News 1</a>
                            <a class="dropdown-item" href="#">News 2</a>
                            <a class="dropdown-item" href="#">News 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="icon py-2 d-flex justify-content-center align-items-center" id="help" data-toggle="dropdown" href="#" title="Help"> 
                            <i class="fa fa-question-circle" style="font-size: 24px;"></i>
                        </a>
                        <div class="dropdown-menu py-2">
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="#">About us</a>
                            <a class="dropdown-item" href="#">Q&A</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="icon py-2 d-flex justify-content-center align-items-center" id="language" data-toggle="dropdown" href="#" title="Language">
                            <i class="fa fa-globe" style="font-size: 22px;"></i>
                        </a>
                        <div class="dropdown-menu py-2">
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">Mongolian</a>                            
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="icon py-2 d-flex justify-content-center align-items-center" id="account" data-toggle="dropdown" href="#" title="Account">
                            <i class="fa fa-user-circle" style="font-size: 22px;"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
                    </li>                                 
                    {% endif %}                    
                </ul>
            </div>  
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}        
    
    <div id="footer" class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
<!-- <script src="https://kit.fontawesome.com/771227ba48.js" crossorigin="anonymous"></script> -->
</html>
