{% extends 'base.html' %}
{% load static custom_tags movie_tags i18n %}

{% block title %}
Mollywood
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="block-search" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <form id="searchform" action="#">
        <p>SEARCH FOR MOVIES, SERIES OR ARTISTS</p>
        <div class="input-group" id="searchbar">
            <select class="form-control input-group-prepend">
                <option class="input-group-text" value="movie">MOVIE</option>
                <option class="input-group-text" value="series">SERIES</option>
                <option class="input-group-text" value="artist">ARTISTS</option>
            </select>
            <input type="text" class="form-control" placeholder="NAME...">
            <div class="input-group-append">
                <button class="input-group-text">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <!-- <form id="searchform" action="#">
        <p class="header" for="searchbar">SEARCH FOR MOVIES, SERIES OR ARTISTS</p>
        <div class="input-group" id="searchbar">
            <select class="form-control input-group-prepend">
                <option class="input-group-text" value="movie">MOVIE</option>
                <option class="input-group-text" value="series">SERIES</option>
                <option class="input-group-text" value="artist">ARTISTS</option>
            </select>
            <input type="text" class="form-control" placeholder="NAME...">
            <div class="input-group-append">
                <button class="input-group-text">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form> -->
    <div id="latestmovies">
        <div class="row">
            <div class="col-8">
                <p class="header" style="color: #020d18;">{% trans 'LATEST MOVIES' %}</p>
            </div>
            <div class="col-4 text-right">
                <a href="{% url 'movielist' %}" class="viewButton btn">{% trans 'MORE' %} >></a>
            </div>
        </div>
        <div class="card-deck">
            {% for movie in latestmovies %}           
            <div class="card rounded-0">                               
                <img class="card-img rounded-0" src="{{ movie.image.url }}" alt="Movie image">                
                <div class="card-img-overlay full"></div>
                <div class="card-img-overlay top d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <div class="star-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="number-rating">
                            <p class="m-0">8.2 / 10</p>
                        </div>
                    </div>                    
                </div>
                <div class="card-img-overlay mid d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <a href="{% url 'moviedetail' movie.pk %}" class="readButton btn btn-danger stretched-link" style="font-size: 14px;">DETAILS</a>
                    </div>  
                </div>
                <div class="card-img-overlay bot d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <p class="movie-title m-0">{{ movie.name }}</p>
                        <p class="movie-release m-0">{{  movie.release_date|date:"d M Y" }}</p>
                    </div>  
                </div>                
            </div>
            {% endfor %}
        </div>          
    </div>
    <div id="latestseries" style="margin-top: 80px; margin-bottom: 50px;">
        <div class="row">
            <div class="col-6">
                <p class="header" style="color: #020d18;">{% trans 'LATEST SERIES' %}</p>
            </div>
            <div class="col-6 text-right">
                <a href="{% url 'serieslist' %}" class="viewButton btn">{% trans 'MORE' %} >></a>
            </div>
        </div>
        <div class="card-deck">
            {% for series in latestseries %}           
            <div class="card rounded-0">                               
                <img class="card-img rounded-0" src="{{ series.image.url }}" alt="Series image">                
                <div class="card-img-overlay full"></div>
                <div class="card-img-overlay top d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <div class="star-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="number-rating">
                            <p class="m-0">7.5 / 10</p>
                        </div>
                    </div>                    
                </div>
                <div class="card-img-overlay mid d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <a href="{% url 'seriesdetail' series.pk %}" class="readButton btn btn-danger stretched-link" style="font-size: 14px;">DETAILS</a>
                    </div>  
                </div>
                <div class="card-img-overlay bot d-flex justify-content-center align-items-center text-center">
                    <div class="item">
                        <p class="movie-title m-0">{{ series.name }}</p>
                        <p class="movie-release m-0">{{  series.release_date|date:"d M Y" }}</p>
                    </div>  
                </div>                
            </div>
            {% endfor %}
        </div> 
    </div>      
</div>
<div id="counter">
    <div class="container py-4">
        <div class="d-flex justify-content-around" style="color: white;">
            <div class="w-100 text-center p-3">
                <h4>MOVIES</h4>
                <h4>115</h4>
            </div>
            <div class="w-100 text-center p-3">
                <h4>SERIES</h4>
                <h4>42</h4>
            </div>
            <div class="w-100 text-center p-3">
                <h4>ARTISTS</h4>
                <h4>478</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
