{% extends 'base.html' %}
{% load static custom_tags humanize %}
{% block title %}
{{ movie.name }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/moviedetail.css' %}">
{% endblock %}

{% block content %}
<div id="moviedetail" class="container h-100">   
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'movielist' %}">Films</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ movie.name }}</li>
        </ol>
    </nav> 
    <div id="info_section" class="m-3 p-3 border rounded">    
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center border p-3">
                    <img class="movie-img rounded" src="{{ movie.image.url }}" alt="Movie image cap" style="border: 2px solid #263238; width: 100%; height: auto;">
                </div>                
                <table class="table table-striped" style="font-size: 13px;">      
                    <tr>
                        <th>Production</th>
                        <td>
                            <a href="#">
                                Marvel Studios
                            </a>
                        </td>
                    </tr>          
                    <tr>
                        <th>Director</th>
                        <td>
                            {% for director in movie.director.all %}
                            <a href="{% url 'artistdetail' director.pk %}">
                                {{ director.name }}
                            </a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Writer</th>
                        <td>
                            <a href="#">
                                Christopher Markus
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Cast</th>
                        <td>
                            {% for actor in movie.cast.all %}
                            <p class="m-0">
                                <a href="{% url 'artistdetail' actor.pk %}">
                                    {{ actor.name }} 
                                </a>  
                            </p>                                                                      
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Genres</th>
                        <td>
                            {% for genre in movie.genre.all %}
                            {{ genre.name }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Release Date</th>
                        <td>{{ movie.release_date }}</td>
                    </tr>
                    <tr>
                        <th>Running Time</th>
                        <td>{{ movie.runningtime }}</td>
                    </tr>
                    <!-- <tr>
                        <th>IMDB Rating</th>
                        <td>{{ movie.rating }}</td>
                    </tr>  -->
                    <tr>
                        <th>Rating</th>
                        <td>{{ movie.mpa_rating }}</td>
                    </tr> 
                    <tr>
                        <th>Score</th>
                        <td>{{ movie.score }}</td>
                    </tr>
                    <tr>
                        <th>Likes</th>
                        <td>
                            <span id="count-like">
                                {{ movie.likes }}
                            </span>                            
                        </td>
                    </tr> 
                    <tr>
                        <th>Watched</th>
                        <td>{{ movie.watched }}</td>
                    </tr> 
                    <tr>
                        <th>Watchlisted</th>
                        <td>{{ movie.watchlisted }}</td>
                    </tr> 
                    <!-- <tr>
                        <th>Views</th>
                        <td>{{ movie.views }}</td>
                    </tr>                           -->
                </table> 
            </div>
            <div class="col-md-8">
                <h4 class="mt-2">{{ movie.name }}</h4>
                <p>Once Upon a Time in Hollywood is a 2019 comedy-drama film written and directed by Quentin Tarantino. Produced by Columbia Pictures, Bona Film Group, Heyday Films, and Visiona Romantica and distributed by Sony Pictures Releasing, it is a co-production between the United States, United Kingdom, and China. It features a large ensemble cast led by Leonardo DiCaprio, Brad Pitt, and Margot Robbie. Set in 1969 Los Angeles, the film follows an actor and his stunt double, as they navigate the changing film industry, and features "multiple storylines in a modern fairy tale tribute to the final moments of Hollywood's golden age.</p>                
                <h4>Plot</h4>    
                <p>{{ movie.plot }}</p>   
                <h4>Cast</h4>           
                <ul>
                    {% for actor in movie.cast.all %}
                        <li>
                            <a href="{% url 'artistdetail' actor.pk %}">
                                {{ actor.name }} 
                            </a>  
                            as {{ actor.name }} 
                        </li>                                                                     
                    {% endfor %}                    
                </ul>
                <h4>Trailer</h4>    
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/LoebZZ8K5N0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                                          
            </div>
        </div>
    </div>
    <div class="m-3 p-3 border rounded">      
        <h4>Your actions:</h4>
        <div id="action_section" class="d-flex flex-column flex-md-row justify-content-around text-center">
            {% if profile is None %}
            <a href="{% url 'account_login' %}" id="like" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to favorite list">
                <i id="icon-like" class="{% if movie|is_liked:profile %}fa fa-thumbs-up{% else %}fa fa-thumbs-o-up{% endif %}"></i>
                <span id="count-like">{{ total_likes }}</span>
                <p class="m-0">Like</p>
            </a>
            <a href="{% url 'account_login' %}" id="watched" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to watched list">
                <i id="icon-watched" class="{% if movie|is_watched:profile %}fa fa-check-circle{% else %}fa fa-check-circle-o{% endif %}"></i>
                <span id="count-watched">{{ total_watched }}</span>
                <p class="m-0">Watched list</p>
            </a>
            <a href="{% url 'account_login' %}" id="watchlist" class="w-100" data-toggle="tooltip" data-placement="top" title="Add to watchlist">
                <i id="icon-watchlist" class="{% if movie|is_added:profile %}fa fa-plus-square{% else %}fa fa-plus-square-o{% endif %}"></i>
                <span id="count-watchlist">{{ total_watchlist }}</span>
                <p class="m-0">Watchlist</p>
            </a>
            <a href="{% url 'account_login' %}" id="rating" class="w-100" data-toggle="tooltip" data-placement="top" title="Give a rating">
                <i class="fa fa-star-o"></i>
                <span id="average-rating">{{ movie.rating }}</span>
                <p class="m-0">Rating</p>
            </a>
            <a href="{% url 'account_login' %}" id="comment" class="w-100" data-toggle="tooltip" data-placement="top" title="Write a comment">
                <i class="fa fa-comment-o"></i>
                <span id="count-comment">4</span>
                <p class="m-0">Comment</p>
            </a>
            {% else %}                        
            <div id="like" class="w-100" data-id="{{ movie.id }}">
                <i id="icon-like" class="{% if movie|is_liked:profile %}fa fa-thumbs-up{% else %}fa fa-thumbs-o-up{% endif %}"></i>
                <span id="count-like">{{ total_likes }}</span>
                <p id="text-like" class="m-0" style="font-size: 14px;">{% if movie|is_liked:profile %}Remove from favorite list{% else %}Add to favorite list{% endif %}</p>
            </div>
            <div id="watched" class="w-100" data-id="{{ movie.id }}">
                <i id="icon-watched" class="{% if movie|is_watched:profile %}fa fa-check-circle{% else %}fa fa-check-circle-o{% endif %}"></i>
                <span id="count-watched">{{ total_watched }}</span>
                <p id="text-watched" class="m-0" style="font-size: 14px;">{% if movie|is_watched:profile %}Remove from watched list{% else %}Add to watched list{% endif %}</p>
            </div>
            <div id="watchlist" class="w-100" data-id="{{ movie.id }}">
                <i id="icon-watchlist" class="{% if movie|is_added:profile %}fa fa-plus-square{% else %}fa fa-plus-square-o{% endif %}"></i>
                <span id="count-watchlist">{{ total_watchlist }}</span>
                <p id="text-watchlist" class="m-0" style="font-size: 14px;">{% if movie|is_added:profile %}Remove from watchlist{% else %}Add to watchlist{% endif %}</p>
            </div>
            <div id="rating" class="w-100" data-toggle="modal" data-target="#modalRating">
                <i id="icon-rating" class="{% if user_rating == 0 %}fa fa-star-o{% else %}fa fa-star{% endif %}"></i>
                <span id="user-rating">{{ user_rating }}</span>
                <p id="text-rating" class="m-0" style="font-size: 14px;">{% if user_rating == 0 %}Give rating{% else %}Edit rating{% endif %}</p>
            </div>
            <div id="comment" class="w-100" data-toggle="tooltip" data-placement="top" title="Write a comment">
                <i class="fa fa-comment-o"></i>
                <span id="count-comment">{{ comments.count }}</span>
                <p class="m-0" style="font-size: 14px;">Write comment</p>
            </div>
            {% endif %}
        </div>
        <div class="modal fade" id="modalRating">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Give rating on movie:</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-rating d-flex justify-content-center align-items-center flex-row-reverse">
                            <input class="form-check-input" type="radio" id="star10" name="rating" value="10" data-id="{{ movie.id }}" />
                            <label class="form-check-label fa fa-star" for="star10" title="10 star"></label>      
                            <input class="form-check-input" type="radio" id="star9" name="rating" value="9" data-id="{{ movie.id }}" />
                            <label class="form-check-label fa fa-star" for="star9" title="9 star"></label>                                              
                            <input class="form-check-input" type="radio" id="star8" name="rating" value="8" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star8" title="8 star"></label> 
                            <input class="form-check-input" type="radio" id="star7" name="rating" value="7" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star7" title="7 star"></label> 
                            <input class="form-check-input" type="radio" id="star6" name="rating" value="6" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star6" title="6 star"></label>
                            <input class="form-check-input" type="radio" id="star5" name="rating" value="5" data-id="{{ movie.id }}" />
                            <label class="form-check-label fa fa-star" for="star5" title="5 star"></label>      
                            <input class="form-check-input" type="radio" id="star4" name="rating" value="4" data-id="{{ movie.id }}" />
                            <label class="form-check-label fa fa-star" for="star4" title="4 star"></label>                                              
                            <input class="form-check-input" type="radio" id="star3" name="rating" value="3" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star3" title="3 star"></label> 
                            <input class="form-check-input" type="radio" id="star2" name="rating" value="2" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star2" title="2 star"></label> 
                            <input class="form-check-input" type="radio" id="star1" name="rating" value="1" data-id="{{ movie.id }}"/>
                            <label class="form-check-label fa fa-star" for="star1" title="1 star"></label>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="comment_section" class="m-3 p-3 border rounded">
        <div class="row px-3 top">
            <div class="col-6 col-md-2">                
                <span id="commentscount">{{ comments.count }} comments</span>                
            </div>            
            <div class="col-6 col-md-2">
                <span>{{ movie.views }} views</span>
            </div>
            <div class="col-6 col-md-4">
                <span id="avgrating">Avg rating: {{ movie_rating|floatformat:1|intcomma }}</span>
            </div>
            <div class="col-6 col-md-4 text-md-right">
                <div class="dropdown">
                    <button type="button" class="dropdown-toggle border-0 bg-transparent" data-toggle="dropdown">
                        <span>Sort By</span>
                    </button>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Top comments</a>
                        <a href="#" class="dropdown-item">Newest first</a>
                    </div>
                </div>
            </div>            
        </div>
        <hr />        
        <div class="card mb-2">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png" alt="profile_picture" class="card-img">                        
                    </div>
                    <div class="col-md-10">         
                        <form id="formcomment" action="." class="was-invalidated" method="GET">
                            {% csrf_token %}
                            <div class="form-group">                                                                      
                                <textarea class="form-control" rows="3" id="textcomment" placeholder="Write a comment..." name="textcomment" required></textarea>
                            </div>
                            <div id="commentbuttons" class="form-group d-flex justify-content-end mb-0">
                                {% if profile is None %}
                                <a href="{% url 'account_login' %}" class="btn btn-primary mr-2">Comment</a>
                                {% else %}
                                <button type="submit" class="btn btn-primary mr-2">Comment</button>                        
                                {% endif %}
                                <button id="cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>           
                    </div>                        
                </div>
            </div>
        </div>
        <div id="allcomments">
            {% for comment in comments %}
            <div class="card mb-2">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <img src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png" alt="profile_picture" class="card-img">
                        </div>
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <strong class="comment_username text-muted">{{ comment.user.username }}</strong>
                                </div>
                                <div class="col-6 text-right">
                                    <small class="comment_datetime text-muted">
                                        {{ comment.updated_at|naturaltime }}
                                    </small>
                                </div>
                            </div>
                            <small class="comment_text">{{ comment.text_comment }}</small>
                            <div class="commentactions d-flex justify-content-start">
                                <div class="commentlike" data-id="{{ comment.id }}">
                                    <i id="iconcommentlike-{{ comment.id }}" class="fa fa-chevron-up {% if comment|is_commentliked:user == False %} text-muted {% endif %}"></i>
                                    <span id="commentlike-{{ comment.id }}" class="{% if comment|is_commentliked:user == False %} text-muted {% endif %}">{{ comment.commentlike.count }}</span>
                                </div>
                                <div class="commentdislike" data-id="{{ comment.id }}">
                                    <i id="iconcommentdislike-{{ comment.id }}" class="fa fa-chevron-down {% if comment|is_commentdisliked:user == False %} text-muted {% endif %}"></i>
                                    <span id="commentdislike-{{ comment.id }}" class="{% if comment|is_commentdisliked:user == False %} text-muted {% endif %}">{{ comment.commentdislike.count }}</span>
                                </div>
                                <div class="commentreply" title="Reply" data-id="{{ comment.id }}">
                                    <i class="fa fa-reply text-muted"></i>
                                    <span class="text-muted">0</span>
                                </div>
                                <!-- {% if comment.user == user %}
                                <div class="commentedit" data-id="{{ comment.id }}">
                                    <i class="fa fa-edit"></i>
                                    <span class="">Edit</span>
                                </div>
                                <div class="commentremove" data-id="{{ comment.id }}">
                                    <i class="fa fa-remove"></i>
                                    <span class="">Del</span>
                                </div>
                                {% endif %} -->
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });

    $('#like').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/likemovie/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                var text = $('#count-like').text();
                var count = parseInt(text);
                if (data.is_liked) {               
                    $("#icon-like").attr("class", "fa fa-thumbs-up");
                    $("#count-like").text((count + 1).toString());
                    $("#text-like").text("Remove from favorite list");
                }
                else
                {                         
                    $("#icon-like").attr("class", "fa fa-thumbs-o-up");
                    $("#count-like").text((count - 1).toString());
                    $("#text-like").text("Add to favorite list");
                }
            }
        })
    });

    $('#watched').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/addtowatched/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                var text = $('#count-watched').text();
                var count = parseInt(text);
                if (data.is_watched) {                                  
                    $("#icon-watched").attr("class", "fa fa-check-circle");
                    $("count-watched").text((count + 1).toString());
                    $("#text-watched").text("Remove from watched list");
                }
                else
                {                                      
                    $("#icon-watched").attr("class", "fa fa-check-circle-o");
                    $("#count-watched").text((count - 1).toString());
                    $("#text-watched").text("Add to watched list");
                }
            }
        })
    });

    $('#watchlist').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/addtowatchlist/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                var text = $('#count-watchlist').text();
                var count = parseInt(text);
                if (data.is_added) {                            
                    $("#icon-watchlist").attr("class", "fa fa-plus-square");
                    $("#count-watchlist").text((count + 1).toString());
                    $("#text-watchlist").text("Remove from watchlist");
                }
                else
                {                                       
                    $("#icon-watchlist").attr("class", "fa fa-plus-square-o");
                    $("#count-watchlist").text((count - 1).toString());
                    $("#text-watchlist").text("Add to watchlist");
                }
            }
        })
    });

    $("input[name='rating']").click(function () {
        var id = $(this).attr("data-id");
        var rating = $(this).val();
        $.ajax({
            type: "GET",
            url: "/ratemovie/",
            data: {
                movie_id: id,
                rating: rating
            },
            success: function(data)
            {
                $("#avgrating").text("Avg rating: " + data.average.toFixed(1).toString());
                $("#user-rating").text(rating);
                $("#icon-rating").attr("class", "fa fa-star");
                $("#text-rating").text("Edit rating");
                alert("Thanks for your review.");
            }
        });
    });

    $('#comment').click(function () {
        $('#textcomment').focus();
    });

    $('.commentlike').click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            type: "GET",
            url: "/commentlike/",
            data: {
                comment_id: id
            },
            success: function(data)
            {
                var text = $('#commentlike-' + id).text();
                var count = parseInt(text);                
                if (data.is_liked) {
                    $('#commentlike-' + id).text((count + 1).toString());
                    $('#iconcommentlike-' + id).attr("class", "fa fa-chevron-up");
                }
                else
                {
                    $('#commentlike-' + id).text((count - 1).toString());
                    $('#iconcommentlike-' + id).attr("class", "fa fa-chevron-up text-muted");
                }
            }
        })
    });

    $('.commentdislike').click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            type: "GET",
            url: "/commentdislike/",
            data: {
                comment_id: id
            },
            success: function(data)
            {
                var text = $('#commentdislike-' + id).text();
                var count = parseInt(text);                
                if (data.is_disliked) {
                    $('#commentdislike-' + id).text((count + 1).toString());
                    $('#iconcommentdislike-' + id).attr("class", "fa fa-chevron-down");
                }
                else
                {
                    $('#commentdislike-' + id).text((count - 1).toString());
                    $('#iconcommentdislike-' + id).attr("class", "fa fa-chevron-down text-muted");
                }
            }
        })
    });

    $('#formcomment').submit(function(e) {
        e.preventDefault();
        var id = $('#like').attr("data-id");
        var textcomment = $('#textcomment').val();
        $.ajax({
            type: "GET",
            url: "/postcomment/",
            data: {
                movie_id: id,
                textcomment: textcomment
            },
            success: function(data)
            {
                $('#textcomment').val("");
                $('#count-comment').text(data.count_comments);
                $('#commentscount').text(data.count_comments + " comments");
                var x = window.matchMedia("(max-width: 576px)");
                if (x.matches) {
                    $('#allcomments').prepend(
                    '<div class="card mb-2">' +
                        '<div class="card-body p-3">' +
                            '<div class="row">' +
                                '<div class="col-12">' +
                                    '<div class="row mb-3">' +
                                        '<div class="col-6">' +
                                            '<strong class="text-muted" style="font-size: 12px;">' + data.username + '</strong>' +
                                        '</div>' +
                                        '<div class="col-6 text-right">' +
                                            '<small class="text-muted" style="font-size: 11px;"> Just now </small>' +
                                        '</div>' +
                                    '</div>' +
                                    '<small style="font-size: 12px;">' + data.textcomment + '</small>' +
                                    '<div class="commentactions d-flex justify-content-start">' +
                                        '<div class="like" style="cursor: pointer; padding: 3px; width: 40px;" title="Like">' +
                                            '<i class="fa fa-chevron-up" style="font-size: 12px;"></i> 0' +
                                        '</div>' +
                                        '<div class="dislike" style="cursor: pointer; padding: 3px; width: 40px;" title="Dislike">' +
                                            '<i class="fa fa-chevron-down" style="font-size: 12px;"></i> 0' +
                                        '</div>' +
                                        '<div class="reply" style="cursor: pointer; padding: 3px; width: 40px;" title="Reply">' +
                                            '<i class="fa fa-reply" style="font-size: 12px;"></i> 0' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +             
                            '</div>' +
                        '</div>' +
                    '</div>'                   
                    )
                }
                else {                                   
                    $('#allcomments').prepend(
                    '<div class="card mb-2">' +
                        '<div class="card-body p-3">' +
                            '<div class="row">' +
                                '<div class="col-md-2 text-center">' +
                                    '<img src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png" alt="profile_picture" class="card-img">' +
                                '</div>' +
                                '<div class="col-md-10">' +
                                    '<div class="row mb-3">' +
                                        '<div class="col-6">' +
                                            '<strong class="text-muted">' + data.username + '</strong>' +
                                        '</div>' +
                                        '<div class="col-6 text-right">' +
                                            '<small class="text-muted"> Just now </small>' +
                                        '</div>' +
                                    '</div>' +
                                    '<small>' + data.textcomment + '</small>' +
                                    '<div class="commentactions d-flex justify-content-start">' +
                                        '<div class="like" style="cursor: pointer; padding: 3px; width: 75px;" title="Like">' +
                                            '<i class="fa fa-chevron-up" style="font-size: 18px;"></i> 0' +
                                        '</div>' +
                                        '<div class="dislike" style="cursor: pointer; padding: 3px; width: 75px;" title="Dislike">' +
                                            '<i class="fa fa-chevron-down" style="font-size: 18px;"></i> 0' +
                                        '</div>' +
                                        '<div class="reply" style="cursor: pointer; padding: 3px; width: 75px;" title="Reply">' +
                                            '<i class="fa fa-reply" style="font-size: 18px;"></i> 0' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +             
                            '</div>' +
                        '</div>' +
                    '</div>'                   
                    )
                }
            }
        })
    });

    $('#cancel').click(function(e) {
        e.preventDefault();
        $('#textcomment').val("");
    });
</script>
{% endblock %}