{% extends 'base.html' %}
{% load static %}
{% block title %}
Movies
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/movielist.css' %}">
{% endblock %}

{% block content %}
<div id="movielist" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movie List</li>
        </ol>
    </nav>
    <form action="." class="p-3" id="filterform">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="searchbyname">Search by name:</label>
                <div class="input-group" id="searchbyname">                                        
                    <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="Name..." {% if name is not None %} value="{{ name }}" {% endif %} />
                    <a href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-row">            
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputGenre">Genre:</label>
                <select id="inputGenre" class="form-control" name="genrename" id="genre">
                    <option {% if genrename is None %} selected {% endif %}>Choose...</option>
                    {% for genre in genres %}
                    <option value="{{ genre }}" {% if genrename == genre.name %} selected {% endif %}>{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputRating">IMDB Rating /Min/:</label>
                <input type="number" min="0" step="0.1" class="form-control" name="rating" id="inputRating" placeholder="0" {% if rating is not None %} value="{{ rating }}" {% endif %} >
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputDate">Release Date /Since/:</label>
                <input type="date" class="form-control" id="inputDate" name="release_date" {% if release_date is not None %} value="{{ release_date }}" {% endif %} >
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="sort">Sort by:</label>
                <select id="sort" class="form-control" name="sortby">
                    <option {% if sortby == "Latest first" %} selected {% endif %} >Latest first</option>   
                    <option {% if sortby == "Latest last" %} selected {% endif %} >Latest last</option>       
                    <option {% if sortby == "Rating (DESC)" %} selected {% endif %} >Rating (DESC)</option>       
                    <option {% if sortby == "Rating (ASC)" %} selected {% endif %} >Rating (ASC)</option>                    
                    <option {% if sortby == "Views (DESC)" %} selected {% endif %} >Views (DESC)</option>                    
                    <option {% if sortby == "Views (ASC)" %} selected {% endif %} >Views (ASC)</option>                    
                    <option {% if sortby == "Release date (Newest first)" %} selected {% endif %} >Release date (Newest first)</option>        
                    <option {% if sortby == "Release date (Oldest first)" %} selected {% endif %} >Release date (Oldest first)</option>                    
                    <option {% if sortby == "Alphabetically (A-Z)" %} selected {% endif %} >Alphabetically (A-Z)</option>           
                    <option {% if sortby == "Alphabetically (Z-A)" %} selected {% endif %} >Alphabetically (Z-A)</option>                                        
                </select>
            </div>
        </div>   
        <div class="form-row">
            <div class="form-group col-12">
                <button class="btn btn-primary" type="submit">Search</button>          
            </div>            
        </div>           
        <div class="form-row">                     
            <div class="form-group col-12 text-center">                                   
                <label for="pagination">Total: {{ count }} movies</label>
                <div id="pagination" class="d-flex justify-content-center">           
                    {% include 'includes/paginationMovies.html' %}  
                </div>
            </div>            
        </div>           
    </form>    
    <div class="list p-3">
        <div class="row p-3">
        {% for movie in queryset %}
            <!-- {% if forloop.counter0|divisibleby:4 %}
                {% if forloop.counter0  > 0 %}
                </div>
                {% endif %}
                <div class="row p-3">
            {% endif %} -->            
                <div class="column col-12 col-sm-6 col-md-3 col-lg-2 mb-3">  
                    <div class="card">
                        <a class="card-img" href="{% url 'moviedetail' movie.pk %}">
                            <img class="card-img-top" src="{{ movie.image }}" alt="Card image cap">
                            <div class="card-img-overlay">                                
                                <p>Release: {{ movie.release_date|date:"Y" }}</p>
                                <p>Rating:  {{ movie.rating }}</p>
                                <p>Views:   {{ movie.views }}</p>
                            </div>
                        </a>
                        <a class="card-body text-center" href="{% url 'moviedetail' movie.pk %}" data-toggle="tooltip" data-placement="top" title="{{ movie.name }}">
                            <p class="card-title">{{ movie.name }}</p>
                        </a>                                                
                        <div class="d-flex justify-content-start p-0 text-center">
                            <a href="#" class="action border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to favorites">
                                <i class="fa fa-thumbs-o-up"></i>
                            </a>
                            <a href="#" class="action border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to watched">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <a href="#" class="action border-top p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to watchlist">
                                <i class="fa fa-list"></i>
                            </a>
                        </div> 
                    </div>              
                </div>                  
        {% endfor %}       
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<!-- <script type="text/javascript">
    $('form').submit(function(event){        
        event.preventDefault();
        var name = $('#name').val();
        var actor = $('#actor').val();
        var genre = $('#genre').val();
        var rating = $('#inputRating').val();
        var date = $('#inputDate').val();        
        $.ajax({
            type: "GET",
            url: "/movielist",
            data: {
                name_contains: name,
                actor_contains: actor,
                rating: rating,
                release_date: date,
                genre: genre
            }
            success: function(data)
            {
                console.log("success");
            }
        })
    });
</script> -->
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
{% endblock %}