{% extends 'base.html' %}
{% load static custom_tags %}
{% block title %}
Movies
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/movielist.css' %}">
{% endblock %}

{% block content %}
<div id="movielist" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Films</li>
        </ol>
    </nav>
    <form action="." class="p-3" id="filterform">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="searchbyname">Search by name:</label>
                <div class="input-group" id="searchbyname">                                        
                    <input class="form-control py-2 border-right-0 border" id="name" type="search" name="name" placeholder="Name..." {% if name is not None %} value="{{ name }}" {% endif %} />
                    <a href="javascript:{}" class="input-group-append" onclick="document.getElementById('filterform').submit();">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-row">            
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputGenre">Genre:</label>
                <select id="inputGenre" class="form-control" name="genrename" id="genre">
                    <option {% if genrename is None %} selected {% endif %}>Choose...</option>
                    {% for genre in genres %}
                    <option value="{{ genre }}" {% if genrename == genre.name %} selected {% endif %}>{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputRating">IMDB Rating /Min/:</label>
                <input type="number" min="0" step="0.1" class="form-control" name="rating" id="inputRating" placeholder="0" {% if rating is not None %} value="{{ rating }}" {% endif %} >
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="inputDate">Release Date /Since/:</label>
                <input type="date" class="form-control" id="inputDate" name="release_date" {% if release_date is not None %} value="{{ release_date }}" {% endif %} >
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-3">
                <label for="sort">Sort by:</label>
                <select id="sort" class="form-control" name="sortby">
                    <option {% if sortby == "Latest first" %} selected {% endif %} >Latest first</option>   
                    <option {% if sortby == "Latest last" %} selected {% endif %} >Latest last</option>       
                    <option {% if sortby == "Rating (DESC)" %} selected {% endif %} >Rating (DESC)</option>       
                    <option {% if sortby == "Rating (ASC)" %} selected {% endif %} >Rating (ASC)</option>                    
                    <option {% if sortby == "Views (DESC)" %} selected {% endif %} >Views (DESC)</option>                    
                    <option {% if sortby == "Views (ASC)" %} selected {% endif %} >Views (ASC)</option>                    
                    <option {% if sortby == "Release date (Newest first)" %} selected {% endif %} >Release date (Newest first)</option>        
                    <option {% if sortby == "Release date (Oldest first)" %} selected {% endif %} >Release date (Oldest first)</option>                    
                    <option {% if sortby == "Alphabetically (A-Z)" %} selected {% endif %} >Alphabetically (A-Z)</option>           
                    <option {% if sortby == "Alphabetically (Z-A)" %} selected {% endif %} >Alphabetically (Z-A)</option>                                        
                </select>
            </div>
        </div>   
        <div class="form-row">
            <div class="form-group col-12">
                <button id="searchbutton" class="btn btn-dark" type="submit">Search</button>          
            </div>            
        </div>           
        <div class="form-row">                     
            <div class="form-group col-12 text-center">                                   
                <label for="pagination">Total: {{ count }} films</label>
                <div id="pagination" class="d-flex justify-content-center">           
                    {% include 'includes/paginationMovies.html' %}  
                </div>
            </div>            
        </div>           
    </form>    
    <div class="list p-3">
        <div class="row p-3">
        {% for movie in queryset %}
            <!-- {% if forloop.counter0|divisibleby:4 %}
                {% if forloop.counter0  > 0 %}
                </div>
                {% endif %}
                <div class="row p-3">
            {% endif %} -->            
            <div class="column col-12 col-sm-6 col-md-3 col-lg-2 mb-3">  
                <div class="card">
                    <a class="card-img" href="{% url 'moviedetail' movie.pk %}">
                        <img class="card-img-top" src="{{ movie.image }}" alt="Card image cap">
                        <div class="card-img-overlay">                                
                            <p>Release: {{ movie.release_date|date:"Y" }}</p>
                            <p>Rating:  {{ movie.rating }}</p>
                            <p>Views:   {{ movie.views }}</p>
                        </div>
                    </a>
                    <a class="card-body text-center" href="{% url 'moviedetail' movie.pk %}" data-toggle="tooltip" data-placement="top" title="{{ movie.name }} /{{ movie.release_date|date:"Y" }}/">
                        <p class="card-title">{{ movie.name }} /{{ movie.release_date|date:"Y" }}/</p>
                    </a>                                                
                    <div class="d-flex justify-content-start p-0 text-center">
                        {% if profile is None %}
                        <a href="{% url 'account_login' %}" class="action border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to favorite list">
                            <i class="fa fa-thumbs-o-up"></i>
                        </a>
                        <a href="{% url 'account_login' %}" class="action border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to watched list" data-id="{{ movie.id }}">
                            <i class="fa fa-check-circle-o"></i>
                        </a>
                        <a href="{% url 'account_login' %}" class="action border-top p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="Add to watchlist" data-id="{{ movie.id }}">
                            <i class="fa fa-plus-square-o"></i>
                        </a>
                        {% else %}
                        <div id="like-{{ movie.id }}" class="action like border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="{% if movie|is_liked:profile %}Remove from favorite list{% else %}Add to favorite list{% endif %}" data-id="{{ movie.id }}">
                            <i id="icon-like-{{ movie.id }}" class="{% if movie|is_liked:profile %}fa fa-thumbs-up{% else %}fa fa-thumbs-o-up{% endif %}"></i>
                        </div>
                        <div id="watched-{{ movie.id }}" class="action watched border-top border-right p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="{% if movie|is_watched:profile %}Remove from watched list{% else %}Add to watched list{% endif %}" data-id="{{ movie.id }}">
                            <i id="icon-watched-{{ movie.id }}" class="{% if movie|is_watched:profile %}fa fa-check-circle{% else %}fa fa-check-circle-o{% endif %}"></i>
                        </div>
                        <div id="watchlist-{{ movie.id }}" class="action watchlist border-top p-2" style="width: 33%;" data-toggle="tooltip" data-placement="top" title="{% if movie|is_added:profile %}Remove from watchlist{% else %}Add to watchlist{% endif %}" data-id="{{ movie.id }}">
                            <i id="icon-watchlist-{{ movie.id }}" class="{% if movie|is_added:profile %}fa fa-plus-square{% else %}fa fa-plus-square-o{% endif %}"></i>
                        </div>
                        {% endif %}                            
                    </div> 
                </div>              
            </div>                  
        {% endfor %}       
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });

    $('.like').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/likemovie/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_liked) {
                    $("#like-" + id).attr('title', 'Remove from favorite list');                    
                    $("#icon-like-" + id).attr("class", "fa fa-thumbs-up");
                }
                else
                {
                    $("#like-" + id).attr('title', 'Add to favorite list');                          
                    $("#icon-like-" + id).attr("class", "fa fa-thumbs-o-up");
                }
            }
        })
    });

    $('.watched').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/addtowatched/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_watched) {
                    $("#watched-" + id).attr('title', 'Remove from watched list');                    
                    $("#icon-watched-" + id).attr("class", "fa fa-check-circle");
                }
                else
                {
                    $("#watched-" + id).attr('title', 'Add to watched list');                          
                    $("#icon-watched-" + id).attr("class", "fa fa-check-circle-o");
                }
            }
        })
    });

    $('.watchlist').click(function () {                
        var id = $(this).attr("data-id");       
        $.ajax({
            type: "GET",
            url: "/addtowatchlist/",
            data: {
                movie_id: id
            },
            success: function(data)
            {
                if (data.is_added) {
                    $("#watchlist-" + id).attr('title', 'Remove from watchlist');                    
                    $("#icon-watchlist-" + id).attr("class", "fa fa-plus-square");
                }
                else
                {
                    $("#watchlist-" + id).attr('title', 'Add to watchlist');                          
                    $("#icon-watchlist-" + id).attr("class", "fa fa-plus-square-o");
                }
            }
        })
    });
</script>
{% endblock %}