{% extends 'base.html' %}
{% load static custom_tags humanize i18n %}
{% block title %}
{{ production }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<div id="detail" class="container">
    <nav aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <!-- <li class="breadcrumb-item"><a href="{% url 'artistlist' %}">{% trans 'Artists' %}</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">{{ production }}</li>
        </ol>
    </nav>
    <div class="m-3 p-3 border" style="background: #030b0f; color: white;">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    {% if production.image %}
                    <img class="card-img" src="{{ production.image.url }}" alt="Card image" style="width: 100%; height: auto;">
                    {% else %}
                    <div class="card-body bg-light" style="height: 300px;"></div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" style="color: white; font-size: small;">    
                        <tr>
                            <th>{% trans 'Start Date' %}</th>
                            <td>2008-09-22</td>
                        </tr>                                                               
                        <tr>
                            <th>{% trans 'Likes' %}</th>
                            <td><span class="count-favorite">9214</span></td>
                        </tr>
                        <tr>
                            <th>{% trans 'Followers' %}</th>
                            <td><span class="count-followers">3985</span></td>
                        </tr> 
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <div id="title">
                        <h4>{{ production.name }}</h4>
                    </div>
                    {% if user.is_authenticated and user|isAdmin %}
                    <div id="update">                        
                        <a href="{% url 'productionupdate' production.pk %}"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                    </div>                
                    {% endif %}
                </div>
                <hr>
                <div id="description">                    
                    <p>{{ production.desciption }}</p>
                </div>    
                <div id="filmography">
                    {% if movielist.count > 0 %}
                    <strong>{% trans 'Films' %}</strong>
                    <div class="table-responsive">
                        <table class="table table-striped" style="color: white; font-size: small;">
                            <thead>
                                <tr>
                                    <th>{% trans 'Release Date' %}</th>
                                    <th>{% trans 'Film name' %}</th>
                                    <th>{% trans 'IMDB' %}</th>
                                    <th>{% trans 'Metascore' %}</th>
                                    <th>{% trans 'Actor' %}</th>
                                    <th>{% trans 'Producer' %}</th>
                                    <th>{% trans 'Director' %}</th>
                                    <th>{% trans 'Writer' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movielist %}
                                <tr>
                                    <td>{{ movie.release_date|date:"Y" }}</td>
                                    <td class="movietitle"><a href="{% url 'moviedetail' movie.pk %}">{{ movie.name }}</a></td>
                                    <td>{{ movie.imdb_rating }}</td>     
                                    <td>{{ movie.metascore }}</td>     
                                    <td>
                                        {% if artist in movie.maincast.all %}
                                            {% trans 'Yes' %}
                                        {% else %}
                                            {% trans 'No' %}
                                        {% endif %}
                                    </td>           
                                    <td>
                                        {% if artist in movie.producer.all %}
                                            {% trans 'Yes' %}
                                        {% else %}
                                            {% trans 'No' %}
                                        {% endif %}
                                    </td> 
                                    <td>
                                        {% if artist in movie.director.all %}
                                            {% trans 'Yes' %}
                                        {% else %}
                                            {% trans 'No' %}
                                        {% endif %}
                                    </td>   
                                    <td>
                                        {% if artist in movie.writer.all %}
                                            {% trans 'Yes' %}
                                        {% else %}
                                            {% trans 'No' %}
                                        {% endif %}
                                    </td>        
                                </tr>
                                {% endfor %}
                            </tbody>            
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>                        
    </div>        
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });        
</script>
{% endblock %}